.accordion {
    margin-top: 10px;

    .custom-padding {
        padding: 15px;
    }

    &__panel-title {        

        .title {
            display: flex;   
            justify-content: space-between;      
            align-items: center;  
      
         
            &__practice {
                font-weight: bold;
                font-size: 18px;    
            }

        }
        .number-practice {

        }
    }

    .collapse {
       
        &__panel-link {
            padding: 10px 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:hover {
                    .button-option {
                        display: flex;
                        margin-left:15px;                  
                        // color: $white-1;

                        // ::before {
                        //     content: '';
                        //     background-color: $black-3;
                        //     border-radius: 50%;
                        //     width: 30px;
                        //     height: 30px;
                        // }
                    }
            }

            &.-bg-link {
                background-color: $black-4;
            }

    

            .group-button-test {
                display: flex;
                justify-content: flex-end;
                .custom-button-test {
                    background-color: $white-1;
                    border: 1px solid $blue-1;
                    color: $blue-1;
                    // margin-right: 15px;

                    &:hover {
                        color: $white-1;
                        background-color: $blue-1;
                    }
                }
             
       }
       .button-option {
        display: none;
        color: $black-3; 

        &.-set-display-block {
            display: flex !important;
            margin-left:15px;
        }
    }

        }
    }
}