.dropdown-report {
 position: relative;

 
    &__content {
        display: none;
        position: absolute;
        top: 50px;
        left: 55%;
        transform: translate(-50%,-50%);

        background-color: $white-1;
        box-shadow: 0 0px 16px 3px $shadow;
        border-radius: 4px;
        padding: 10px 0;

        z-index: 1;
        
        
        // width: 100px;
        height: auto;
        max-width: 300px;
        transition: .2s;

        &::before {
            content: '';
            height: 10px;
            width: 10px;
            display: block;
            
            position: absolute;
            top: -18px;
            left: 40%;
            border: 10px solid #fff;
            border-color: transparent transparent #fff transparent;
        }

        &.-show {
            display: block;
        }
    }

    .content-report {

        &__link {

            display: block;
            width: 100px;
            padding: 10px;
          
            font-size: 12px;

            &:hover {
                background-color: $black-4;
                color: $black-1;
            }
        }
    }

}