//start khoa hoc bo tro

.khoa-hoc-bo-tro {
    margin-top: 30px;

    &__title {
        font-weight: bold;
        margin-bottom: 0;
  
        
    }
    
    .margin-card {
        margin-top: 15px;
    }

    .lesson-card {
        border-radius: 6px;
        box-shadow: 0px 0px 6px 3px $shadow;
       

        &__img-thumbnail {
            width: 100%;
            height: auto;
            object-fit: cover;
            object-position: center;
            

                .img-lesson-card {
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;
                }
    
        }

        &__card-body {
            padding: 0 10px;
        }

        .card-body {
            
            &__title {
                font-weight: bold;
                height: 50px;
                line-height: 1.5;
                overflow: hidden;
                color: $black-1;
            }

            &__description {
                line-height: 1.5;
                height: 67px;
                overflow: hidden;
                text-overflow: ellipsis; 
            }

            &__button-register {
                margin-bottom: 10px;
                background-color: $red-1;
            }
        }
    }
}

// end khoa hoc bo tro