//test online
.test-online {

    &__title {
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: 5px;
    }

    .card-test {
        margin-top: 10px;
        position: relative;

        
        &__cover {
            width: 100%;
            height: auto;
            object-fit: cover;
            object-position: center;
            
        }

        &__text-position-center {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
            color: $white-1;

            .text-position-center {
    
                &__title {
                    font-family: SF-Pro-Display-Heavy;
                    font-size: 42px;
                    margin-bottom: 0;
              
                }

                &__subtitle {
                    font-size: 28px;
                    font-family: SF-Pro-Display-Bold;
                }
            }
        }

        &__bg-overlay {
            display: flex;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
       
            width: 100%;
            height: 100%;
            opacity: .4;

            &.-overlay-1 {
                background-image: linear-gradient(#FF5F6D, #480048);
            }
            &.-overlay-2 {
                background-image: linear-gradient(#000428, #004E92);
            }
            &.-overlay-3 {
                background-image: linear-gradient(#093637, #44A08D);
            }
            &.-overlay-4 {
                background-image: linear-gradient(#C31432, #240B36);
            }
            &.-overlay-5 {
                background-image: linear-gradient(#6441A5, #2A0845);
            }
            &.-overlay-6 {
                background-image: linear-gradient(#12C2E9, #C471ED, #F7797D);
            }
        }


    }
}

