.tin-tuc {
      
    &__title {
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: 5px;
        color: $black-1;
        display: inline-block;
    }

    &__option {
        font-size: 18px;
        color: $red-1;
        float: right;
        display: inline-block;
        margin-top: 30px;
    }

    .card-tin-tuc {
        margin-top: 10px;

        .card-content {

            &__title {
                font-weight: bold;
                font-size: 16px;

                color: $black-1;
                height: 50px;
                line-height: 1.5;
                overflow: hidden;           
                
                margin-top: 10px;
                display: inline-flex;

                &:hover {
                    color: $red-1;
                }
            }

            &__time-public {
                color: $black-2;
            }
        }
    }




}