.color-secondary {
  color: #888888; }

.test-list__header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .test-list__header .title {
    font-size: 20px;
    font-weight: bold;
    color: #393939;
    margin: 0; }
  .test-list__header .expand-all {
    color: #2D8BDE; }
    .test-list__header .expand-all:hover {
      color: #0f60a7; }

.row.-custom-row {
  margin: 0px -5px; }
.row.-logo-row {
  margin: 20px -17px; }

div[class*="col-"].-custom-card {
  padding: 0px 5px; }
div[class*="col-"].-logo-col {
  padding: 0 5px; }
div[class*="col-"].-custom-padding-col {
  padding-left: 0; }

p.-custom-p {
  margin: 0; }

.img-object {
  width: 100%;
  height: auto;
  object-position: center;
  object-fit: cover; }

.custom-textarea {
  resize: vertical;
  overflow: auto; }

.header-hoc-vien .banner img {
  width: 100%;
  height: auto; }

.khoa-hoc-bo-tro {
  margin-top: 30px; }
  .khoa-hoc-bo-tro__title {
    font-weight: bold;
    margin-bottom: 0; }
  .khoa-hoc-bo-tro .margin-card {
    margin-top: 15px; }
  .khoa-hoc-bo-tro .lesson-card {
    border-radius: 6px;
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.16); }
    .khoa-hoc-bo-tro .lesson-card__img-thumbnail {
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: center; }
      .khoa-hoc-bo-tro .lesson-card__img-thumbnail .img-lesson-card {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px; }
    .khoa-hoc-bo-tro .lesson-card__card-body {
      padding: 0 10px; }
    .khoa-hoc-bo-tro .lesson-card .card-body__title {
      font-weight: bold;
      height: 50px;
      line-height: 1.5;
      overflow: hidden;
      color: #393939; }
    .khoa-hoc-bo-tro .lesson-card .card-body__description {
      line-height: 1.5;
      height: 67px;
      overflow: hidden;
      text-overflow: ellipsis; }
    .khoa-hoc-bo-tro .lesson-card .card-body__button-register {
      margin-bottom: 10px;
      background-color: #CD191D; }

.test-online__title {
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 5px; }
.test-online .card-test {
  margin-top: 10px;
  position: relative; }
  .test-online .card-test__cover {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center; }
  .test-online .card-test__text-position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffff; }
    .test-online .card-test__text-position-center .text-position-center__title {
      font-family: SF-Pro-Display-Heavy;
      font-size: 42px;
      margin-bottom: 0; }
    .test-online .card-test__text-position-center .text-position-center__subtitle {
      font-size: 28px;
      font-family: SF-Pro-Display-Bold; }
  .test-online .card-test__bg-overlay {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    opacity: .4; }
    .test-online .card-test__bg-overlay.-overlay-1 {
      background-image: linear-gradient(#FF5F6D, #480048); }
    .test-online .card-test__bg-overlay.-overlay-2 {
      background-image: linear-gradient(#000428, #004E92); }
    .test-online .card-test__bg-overlay.-overlay-3 {
      background-image: linear-gradient(#093637, #44A08D); }
    .test-online .card-test__bg-overlay.-overlay-4 {
      background-image: linear-gradient(#C31432, #240B36); }
    .test-online .card-test__bg-overlay.-overlay-5 {
      background-image: linear-gradient(#6441A5, #2A0845); }
    .test-online .card-test__bg-overlay.-overlay-6 {
      background-image: linear-gradient(#12C2E9, #C471ED, #F7797D); }

.tin-tuc__title {
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 5px;
  color: #393939;
  display: inline-block; }
.tin-tuc__option {
  font-size: 18px;
  color: #CD191D;
  float: right;
  display: inline-block;
  margin-top: 30px; }
.tin-tuc .card-tin-tuc {
  margin-top: 10px; }
  .tin-tuc .card-tin-tuc .card-content__title {
    font-weight: bold;
    font-size: 16px;
    color: #393939;
    height: 50px;
    line-height: 1.5;
    overflow: hidden;
    margin-top: 10px;
    display: inline-flex; }
    .tin-tuc .card-tin-tuc .card-content__title:hover {
      color: #CD191D; }
  .tin-tuc .card-tin-tuc .card-content__time-public {
    color: #888888; }

.footer-logo .title-logo {
  font-size: 16px;
  color: #CD191D;
  text-transform: uppercase;
  font-weight: bold; }

#main-menu {
  z-index: 0; }

.info-class__header {
  font-size: 20px;
  font-weight: bold;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: #E60000;
  width: 100%;
  height: 48px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }
.info-class__content {
  border: 1px solid #DBDBDB;
  padding: 10px; }
  .info-class__content .class-name-challenge {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5; }
    .info-class__content .class-name-challenge__text-red {
      color: #CD191D; }
  .info-class__content .document-user {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-top: 10px; }
    .info-class__content .document-user__title {
      font-weight: bold;
      color: #393939; }
    .info-class__content .document-user__option {
      color: #CD191D; }
      .info-class__content .document-user__option:hover {
        color: #E60000; }
  .info-class__content .document-link {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    padding-bottom: 15px; }
    .info-class__content .document-link.-border-bottom {
      border-bottom: 1px solid #DBDBDB; }
    .info-class__content .document-link__link-name .fa-hand-o-right {
      color: #CD191D; }
    .info-class__content .document-link__icon-download .fa-file-text-o {
      color: #CD191D; }
  .info-class__content .tutorial-class {
    color: #393939;
    font-weight: bold;
    height: 38px;
    background-color: #FFCD00;
    border: 1px solid #FFCD00; }
  .info-class__content .hot-line {
    text-align: center;
    color: #CD191D;
    margin-top: 10px; }

.accordion {
  margin-top: 10px; }
  .accordion .custom-padding {
    padding: 15px; }
  .accordion__panel-title .title {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .accordion__panel-title .title__practice {
      font-weight: bold;
      font-size: 18px; }
  .accordion .collapse__panel-link {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .accordion .collapse__panel-link:hover .button-option {
      display: flex;
      margin-left: 15px; }
    .accordion .collapse__panel-link.-bg-link {
      background-color: #f5f5f5; }
    .accordion .collapse__panel-link .group-button-test {
      display: flex;
      justify-content: flex-end; }
      .accordion .collapse__panel-link .group-button-test .custom-button-test {
        background-color: #ffff;
        border: 1px solid #2D8BDE;
        color: #2D8BDE; }
        .accordion .collapse__panel-link .group-button-test .custom-button-test:hover {
          color: #ffff;
          background-color: #2D8BDE; }
    .accordion .collapse__panel-link .button-option {
      display: none;
      color: #DBDBDB; }
      .accordion .collapse__panel-link .button-option.-set-display-block {
        display: flex !important;
        margin-left: 15px; }

.dropdown-report {
  position: relative; }
  .dropdown-report__content {
    display: none;
    position: absolute;
    top: 50px;
    left: 55%;
    transform: translate(-50%, -50%);
    background-color: #ffff;
    box-shadow: 0 0px 16px 3px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    padding: 10px 0;
    z-index: 1;
    height: auto;
    max-width: 300px;
    transition: .2s; }
    .dropdown-report__content::before {
      content: '';
      height: 10px;
      width: 10px;
      display: block;
      position: absolute;
      top: -18px;
      left: 40%;
      border: 10px solid #fff;
      border-color: transparent transparent #fff transparent; }
    .dropdown-report__content.-show {
      display: block; }
  .dropdown-report .content-report__link {
    display: block;
    width: 100px;
    padding: 10px;
    font-size: 12px; }
    .dropdown-report .content-report__link:hover {
      background-color: #f5f5f5;
      color: #393939; }

.course-list__background {
  background-color: #F1F1F1;
  border-radius: 4px 4px 0 0; }
  .course-list__background.-margin-top {
    margin-top: 15px; }
  .course-list__background .text-title {
    color: #393939;
    font-size: 16px; }
.course-list__title {
  display: flex;
  justify-content: space-between;
  padding: 15px; }
  .course-list__title .text-title {
    font-weight: bold; }
  .course-list__title .button-filter {
    position: relative; }
    .course-list__title .button-filter .dropdown-filter {
      transform: translate(-50%, -50%);
      top: 5.5rem;
      left: -4rem; }
.course-list .single-course {
  border: 1px solid #F1F1F1;
  border-radius: 0 0 4px 4px; }
  .course-list .single-course .panel-group {
    margin-bottom: 0; }
  .course-list .single-course .lesstion {
    display: flex;
    cursor: pointer; }
    .course-list .single-course .lesstion.-disable {
      color: #A4A4A4;
      background-color: #f9f9f9; }
    .course-list .single-course .lesstion.-selected {
      background-color: #fff6f6; }
    .course-list .single-course .lesstion:hover {
      background-color: #fff6f6; }
    .course-list .single-course .lesstion__checkbox {
      margin-right: 1rem;
      font-size: 1.5rem; }
      .course-list .single-course .lesstion__checkbox .fa-check-circle {
        color: #456990; }
      .course-list .single-course .lesstion__checkbox .fa-file-text {
        color: #F24145; }
      .course-list .single-course .lesstion__checkbox .fa-circle-o {
        color: #a1a7b3; }
    .course-list .single-course .lesstion__name .tag-name {
      font-size: 0.9rem;
      background-color: #F24145;
      padding: 0.3rem 0.5rem 0.3rem 0.5rem;
      border-radius: 6px;
      color: white; }
    .course-list .single-course .lesstion__time .fa-play-circle {
      color: #F24145; }
      .course-list .single-course .lesstion__time .fa-play-circle.-disable {
        color: #A4A4A4; }
    .course-list .single-course .lesstion__time .fa-file-o {
      color: #F24145; }
    .course-list .single-course .lesstion__document {
      color: #456990; }
      .course-list .single-course .lesstion__document.-disable {
        color: #A4A4A4; }
    .course-list .single-course .lesstion__answer {
      color: #456990; }
    .course-list .single-course .lesstion .information-wrapper {
      display: flex;
      justify-content: space-between;
      margin-top: 0.5rem; }
    .course-list .single-course .lesstion .lesstion-wrapper {
      width: 100%; }

.info-class-video__background {
  background-color: #F1F1F1;
  border-radius: 4px 4px 0 0; }
  .info-class-video__background.-margin-top {
    margin-top: 15px; }
  .info-class-video__background .text-title {
    color: #393939;
    font-size: 16px; }
.info-class-video__title {
  display: flex;
  justify-content: space-between;
  padding: 15px; }
  .info-class-video__title .text-title {
    font-weight: bold; }
  .info-class-video__title .button-filter {
    position: relative; }
    .info-class-video__title .button-filter .dropdown-filter {
      transform: translate(-50%, -50%);
      top: 5.5rem;
      left: -4rem; }
.info-class-video .user-information {
  padding: 15px;
  border: 1px solid #F1F1F1;
  border-radius: 0 0 4px 4px;
  line-height: 1.5; }
  .info-class-video .user-information .text-bold {
    font-weight: bold; }
  .info-class-video .user-information__title {
    font-size: 16px; }
    .info-class-video .user-information__title .username {
      color: #CD191D; }

.video-learning .video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }
  .video-learning .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
.video-learning .video-overview {
  background-color: white;
  border: 1px solid #E8E9EE;
  border-radius: 4px;
  margin-top: 1.5rem;
  padding: 20px; }
  .video-learning .video-overview__title {
    font-weight: bold;
    font-size: 1.3rem; }
  .video-learning .video-overview__body .test-list {
    margin-top: 1rem;
    margin-bottom: 0; }
    .video-learning .video-overview__body .test-list__content {
      display: inline-block;
      margin-right: 2rem; }
      .video-learning .video-overview__body .test-list__content.-title {
        font-weight: bold; }
      .video-learning .video-overview__body .test-list__content .custom-link-color {
        color: #456990; }
        .video-learning .video-overview__body .test-list__content .custom-link-color .fa-check {
          color: #2AB850; }
        .video-learning .video-overview__body .test-list__content .custom-link-color.-disable-color {
          color: #A4A4A4; }
          .video-learning .video-overview__body .test-list__content .custom-link-color.-disable-color:hover {
            color: #1890FF; }
          .video-learning .video-overview__body .test-list__content .custom-link-color.-disable-color .hide-icon {
            display: none; }

@font-face {
  font-family: SF-Pro-Display-Heavy;
  src: url("../fonts/SF-Pro-Display-Heavy.otf"); }
@font-face {
  font-family: SF-Pro-Display-Bold;
  src: url("../fonts/SF-Pro-Display-Bold.otf"); }

/*# sourceMappingURL=style-bem.css.map */
