.test-list {
    
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {    
            font-size: 20px;
            font-weight: bold;
            color: $black-1;
            margin: 0;
        }

        .expand-all {
            color: $blue-1;

            &:hover {
                color: $blue-2;
            }
        }
    }
}