@import 'abstracts/variable';
@import 'abstracts/mixin';

//pages
@import 'pages/hocvien';
@import 'pages/nhom-test';
@import 'pages/khoa-hoc-video';

//layout
@import 'layout/row';
@import 'layout/col';
@import 'layout/p';
@import 'layout/img';
@import 'layout/text-area';
@import 'layout/panel';

//components

//hocien
@import 'components/hoc-vien/banner';
@import 'components/hoc-vien/khoa-hoc-bo-tro';
@import 'components/hoc-vien/test-online';
@import 'components/hoc-vien/tin-tuc';
@import 'components/hoc-vien/footer-logo';

//menu
@import 'components/menu/main-menu';

//sidebar
@import 'components/sidebar/info-class';

//nhom test
@import 'components/nhom-test/accordion';
@import 'components/nhom-test/show-report';

//khoa hoa video 
@import 'components/khoa-hoc-video/course-list';
@import 'components/khoa-hoc-video/info-class-video';
@import 'components/khoa-hoc-video/video';



@font-face {
    font-family: SF-Pro-Display-Heavy;
    src: url('../fonts/SF-Pro-Display-Heavy.otf');
  }

@font-face {
    font-family: SF-Pro-Display-Bold;
    src: url('../fonts/SF-Pro-Display-Bold.otf')
}