.course-list {
   
    &__background {
        background-color: $black-5;
        border-radius: 4px 4px 0 0;

        &.-margin-top {
            margin-top: 15px;
        }

        .text-title {
            color: $black-1;
            font-size: 16px;
        }

    
    }

    &__title {
        display: flex;
        justify-content: space-between;
        padding: 15px;
  

        .text-title {
            font-weight: bold;
          
          
        }

       .button-filter {
           position: relative;
           
           .fa-filter {
            //    color: white;
           }

        .dropdown-filter {
            transform: translate(-50%,-50%);
            top: 5.5rem;
            left: -4rem;           
        }
       }
    }
    
    .single-course {         
             border: 1px solid $black-5;
             border-radius: 0 0 4px 4px;
        .panel-group {
                margin-bottom: 0;
        }
    
            .lesstion {
                display: flex;
                cursor: pointer;
                
                &.-disable {
                    color: $text-gray;
                    background-color: #f9f9f9;
                }

                &.-selected {
                    background-color: #fff6f6;
                }

                &:hover {
                    background-color: #fff6f6;
                }
                

                &__checkbox {
                    margin-right: 1rem;
                    // color: $icon-secondary;
                     font-size: 1.5rem;

                    .fa-check-circle {
                        color: $colormain;
                       
                    }

                    .fa-file-text {
                        color: $color1;  
                                                    
                    }

                    .fa-circle-o {
                        color: $icon-secondary;
                    }


                }                

                &__name {       

                    .tag-name {
                        // font-weight: bold;
                        font-size: 0.9rem;
                        background-color: $color1;
                        padding: 0.3rem 0.5rem 0.3rem 0.5rem;
                        border-radius: 6px;
                        color: white;
                    }
                }

                &__date {
                    // color: $icon-secondary;
                 
                }
                &__time {               
                    .fa-play-circle {
                        color: $color1;
                        // color: $icon-secondary;  
                        
                        &.-disable {
                            color: $text-gray
                        }
                        
                        
                    }
                    .fa-file-o {
                        color: $color1;                              
                    }
                    
                    .custom-text-color {
                        // color: $text-gray;
                       
                    }  
                }

                &__document {
                    color: $colormain;
                    &.-disable {
                        color: $text-gray ;
                    }
                    
                }

                &__answer {
                    color: $colormain;
                }

                .information-wrapper {
                    display: flex;
                    justify-content: space-between;

                    margin-top: 0.5rem;
                }

                .lesstion-wrapper {
                    width: 100%;
                }
            }
        
    }
}
