.info-class-video {
   
    &__background {
        background-color: $black-5;
        border-radius: 4px 4px 0 0;

        &.-margin-top {
            margin-top: 15px;
        }

        .text-title {
            color: $black-1;
            font-size: 16px;
        }

    
    }

    &__title {
        display: flex;
        justify-content: space-between;
        padding: 15px;
  

        .text-title {
            font-weight: bold;
          
          
        }

       .button-filter {
           position: relative;
           
           .fa-filter {
            //    color: white;
           }

        .dropdown-filter {
            transform: translate(-50%,-50%);
            top: 5.5rem;
            left: -4rem;           
        }
       }
    }
    
    .user-information {         
            padding: 15px;
             border: 1px solid $black-5;
             border-radius: 0 0 4px 4px;
            line-height: 1.5;
             .text-bold {
                font-weight: bold;
             }

             &__title {
                 font-size: 16px;

                .username {
                    color: $red-1;
                }
             }
        // .panel-group {
        //         margin-bottom: 0;
        // }
    
        
        
    }
}
