.video-learning {

    .video-wrapper {
       position: relative;
       padding-bottom: 56.25%;
       /* 16:9 */
       padding-top: 25px;
       height: 0;

       iframe {
           position: absolute;
           top: 0;
           left: 0;
           width: 100%;
           height: 100%;
       }
   }

   .video-overview {
       background-color: white;
       border: 1px solid $background-skill-point;
       border-radius: 4px;

       margin-top: 1.5rem;
       padding: 20px;

       &__title {
           font-weight: bold;
           font-size: 1.3rem;
       }

       &__body {

           .test-list {
               margin-top: 1rem;
               margin-bottom: 0;

               &__content {
                   display: inline-block;
                   margin-right: 2rem;

                   &.-title {
                       font-weight: bold;
                   }

                   .custom-link-color {
                       color: $colormain;

                       .fa-check {
                           color: $icon-done;
                       }


                       &.-disable-color {
                           color: $text-gray;

                           &:hover {
                               color: $text-blue;
                           }

                           .hide-icon {
                               display: none;
                           }
                       }
                   }
               }
           }
       }
   }     
}
