﻿/**COL RIGHT COMMENT**/
#recent_cm{line-height:20px;margin-top:10px}
#recent_cm .comment ul{margin:0 0 10px 10px}
#recent_cm .comment li{list-style:none;background:transparent url('../images/icon1.png') no-repeat scroll 3px 11px;	padding: 5px 10px 0 17px;}
/**FORM COMMENT**/
#comment{margin:0 10px}
#comment .comment_box{border-bottom:1px #787878 solid;border-right:1px #787878 solid;border-left:1px #787878 solid;padding-bottom:10px}
#comment .item_cm{padding:10px 10px 0 10px}
#comment .textarea_cm{border:1px silver  solid;width:422px;height:100px}
#comment button{width:60px;height:26px;text-align:center}
#comment .title_cm{background:transparent url('../images/tt_comment.jpg') no-repeat;height:24px;line-height:24px;color:#fff;padding-left:30px;}
.fb_edge_widget_with_comment{
    width: 111px;
}
.counts{
    width: 80px;
    float: right;
    font-weight: bold;
}