#word_title {margin-bottom: 10px;}
#word_title ul {list-style: none; padding: 0; margin: 0;}
#word_title li {float: left; width: 250px; text-align: center; color: #FFF; font-weight: 700; line-height: 30px; cursor: pointer; border-right: 1px solid #EEEEEE;}
/* #word_title li:hover, #word_title li.active {background: #000;} */
#word_title li.end {border: none;}
#word_title .lam_quen {background: url("../images/bg/green_bg.jpg") repeat-x;}
#word_title .ghi_nho {background: url("../images/bg/blue_bg.jpg") repeat-x;}
#word_title .thuoc_long {background: url("../images/bg/dc_bg.jpg") repeat-x;}
/**************************************/
#word_list ul {list-style: none; padding: 0; margin: 0;}
#word_list .left {width: 340px; float: left;}
#word_list .right {float: right; margin-right: 10px; width: 350px; box-shadow: 0 0 8px 1px #B7B7B7; padding: 6px;}
#word_list .left li {float: left; width: 100px; height: 100px; text-align: center; display: table-cell; vertical-align: middle; margin-right: 10px;}
#word_list .left li img {border: 1px solid #E6E6E6;cursor: pointer; padding: 3px; max-height: 90px; max-width: 90px;}
#word_list .left li img.active {border: 2px solid #646464;}

#word_list .right .item img {max-width: 350px; max-height: 350px;}
#word_list .img-caption {background-color: #000000;color: #FFFFFF;font-size: 22px;font-weight: 700;height: 40px;line-height: 35px;}

#word_list .item {min-height: 310px;}
#word_list .image {text-align: center; cursor: pointer;}

#word_list .tool {margin-top: 10px;}
#word_list .tool div{float: right; cursor: pointer; height: 30px; margin-left: 2px;}
#word_list .translate {margin: 0 10px;}
#word_list .play {background: url("../images/icons/flashcard-recording-buttonlist.png") no-repeat scroll -46px 5px transparent;width: 25px;}
#word_list .stop {background: url("../images/icons/flashcard-recording-buttonlist.png") no-repeat scroll 7px 5px transparent;width: 25px;}
#word_list .split {background: url("../images/icons/button-list.png") no-repeat scroll -139px 0 transparent;width: 12px;}
#word_list .speaker {background: url("../images/icons/button-list.png") no-repeat scroll -100px 50% transparent;width: 34px;}
#word_list .flip-card {background: url("../images/icons/button-list.png") no-repeat scroll -69px 0 transparent;width: 32px;}
#word_list .btn-next {background: url("../images/icons/button-list.png") no-repeat scroll -22px 0 transparent;width: 32px;}
#word_list .btn-prev {background: url("../images/icons/button-list.png") no-repeat scroll 4px 0 transparent;width: 32px;}
#word_list .title-flip-outer {font-size: 28px;font-weight: 700;text-align: center; margin-top: 15px;}
#word_list .word-phonetic {font-size: 16px;margin-top: 7px; text-align: center;}
#word_list .vietnamese-meaning {color: #F5750C; font-size: 16px;font-weight: 700;margin-top: 15px;}
#word_list .subject {color: #548DD4;font-weight: 700;margin-top: 20px;text-align: left;}
#word_list .example {margin-top: 15px;}

#word_list .record {background: url("../images/icons/flashcard-recording-buttonlist.png") no-repeat scroll -121px 5px transparent; width: 25px;}
#word_list .record:hover, #word_list .record_active{background: url("../images/icons/flashcard-recording-buttonlist.png") no-repeat scroll -142px 5px }
#word_list .record_popup {position: fixed; z-index: 9; right: 0; top: 0; height: 100px; width: 300px; background: #333333; color: #FFF; padding-left: 10px;}


#word_list .stop_active {background: url("../images/icons/flashcard-recording-buttonlist.png") no-repeat scroll -22px 5px transparent;}
#word_list .play_active {background: url("../images/icons/flashcard-recording-buttonlist.png") no-repeat scroll -72px 5px transparent;}


#audiorecorder, #flashrecarea{width: 100%; height: 100%; position: fixed;}
/*********************** DROP   **************************/
#word_drop .left {float: left; margin-left: 15px; width: 220px; min-height: 150px;}
#word_drop .right {float: right; width: 490px;}
#word_drop .left .word_item{margin-top: 10px; font-size: 17px;line-height: 22px; cursor: move;}
#word_drop .word_drop {float: left; width: 150px; margin-left: 13px; position: relative; }
#word_drop .word_drop img {max-width: 150px; max-height: 120px;}
#word_drop .hover {opacity: 0.8;}
#word_drop .right .word_item { background: #151515;height: 40px;opacity: 0.82;position: absolute; bottom: 0px; text-align: center;width: 150px;z-index: 10; font-size: 22px;font-weight: 700;line-height: 35px; color: #FFF;}
#word_drop .ui-draggable-dragging {color: red; background: none; color: #008FD6;font-size: 24px;line-height: 23px;}
#word_drop .result-background {background-color: #000000;opacity: 0.4; position: absolute; width: 100%; height: 100%; z-index: 3;}
#word_drop .result_img {width: 100%; text-align: center; position: absolute; z-index: 2; top: 7px;}
#word_drop .result_img img {width: 70px;}
/*********************** RETYPE   **************************/
#retype .left {width: 200px; float: left; margin-top: 10px;}
#retype .right {width: 450px; float: right; margin-top: 10px;}
#retype .result-title-bar {color: #FFFFFF;font-size: 20px;height: 40px;line-height: 40px;padding-left: 20px; background: -moz-linear-gradient(center top , #EF883E 4%, #F46E00 100%) repeat scroll 0 0 transparent; font-weight: 700;}
#retype .remain, #retype .correct, #retype .incorrect {border-bottom: 1px solid #EAEAEA;color: #000000;height: 28px;padding: 20px; font-weight: 700;}
#retype .img-wrapper {position: relative; width: 364px;}
#retype .img-wrapper .img-main {border: 7px solid #FFFFFF;box-shadow: 0 0 7px 2px #BFBFBF;display: none;min-width: 250px;}
#retype .user-input {background-color: #E8E8E8;height: 38px;margin-top: 25px;padding: 14px; width: 340px; position: relative;}
#retype .user-input .textbox {border: 1px solid #E0E0E0;box-shadow: 0 16px 30px -21px #D9D9D9 inset;font-family: 'Segoe UI';font-size: 22px;height: 35px;position: relative;text-align: center; width: 290px;}
#retype .listen-again {background: url("../images/icons/flashcard-tab3-listenagain.png") no-repeat scroll center center transparent;cursor: pointer;height: 37px;margin-left: 7px;margin-top: 1px;position: relative;width: 36px; float: right;}
#retype .show-answer {background: url("../images/icons/flashcard-help-tab3.png") no-repeat scroll center center transparent;border-radius: 10px 10px 10px 10px;cursor: pointer;height: 32px;position: absolute;right: -38px;top: 14px;width: 32px;}
#retype_next {margin-right: 280px;}

#retype .remain .number, #retype .correct .number, #retype .incorrect .number {font-size: 28px;margin-top: 6px; float: right;}
#retype .remain .number {color: #0070C0;}
#retype .correct .number {color: #00B050;}
#retype .incorrect .number {color: #C00000;}
#retype .text {float: left;line-height: 30px;}
#retype .answer_help {background: #151515;height: 55px;opacity: 0.82;position: absolute; bottom: 0px; text-align: center;z-index: 1; font-size: 26px;font-weight: 700;line-height: 47px; color: #FFF; width: 100%; display: none}
#retype .answer_result {background-color: #000000;opacity: 0.4; position: absolute; width: 100%; height: 100%; z-index: 3; top: 0; text-align: center; display: none;}
#retype .type_correct,#retype  .type_incorrect {margin-top: 60px;}
/*********************** COMMON **************************/
#word_drop .submit, #retype .submit, #course_complete .submit{border-top: 1px solid #E6E6E6; padding-top: 20px; margin-top: 20px;}
#word_drop .global-button-green-1, #retype .global-button-green-1, #course_complete .global-button-green-1{background: #F5750B  ;border-color: #F5750B; font-size: 12px;height: 29px;line-height: 29px;width: 86px; border-radius: 2px 2px 2px 2px;border-style: solid;border-width: 1px;color: white;cursor: pointer;font-weight: bold;text-align: center; float: right; margin-left: 15px;}
.global-activity-guide {background: url("../images/icons/down-arrow-pointer.png") no-repeat;height: 20px; margin-bottom: 25px; padding-left: 30px;}
.global-activity-guide .text {border-bottom: 1px solid #E6E6E6; padding-bottom: 10px;}
.recorderFlashContainer {display: none;}
/*************************** COMPLETE ********************************/
#course_complete .wccontent{margin-bottom: 10px;}
#course_complete .images {float: left; width: 200px; margin-right: 15px;}
#course_complete .question {margin-bottom: 10px; border-bottom: 1px solid #DEDEDE; padding-bottom: 15px; font-size: 13px; font-weight: 700;}
#course_complete .question input {width: 100px; margin: 0 7px; border: 1px solid #DDDDDD; background: #FFF7CC; padding: 3px 5px;}
#course_complete .player {float: left; width: 500px;}
#course_complete .pagingcomplete {float: right;}

#pagingjs .inactive-button {border: 1px solid #DBDBDB;box-shadow: 0 20px 32px -22px #DBDBDB inset;height: 26px;line-height: 26px;width: 26px; cursor: pointer;display: inline-block;font-size: 14px;font-weight: bold;margin: 4px;text-align: center;}
#pagingjs .inactive-button:hover {background-color: #F9873A;border: 1px solid #FB802D;box-shadow: none !important;color: #FFFFFF;}
#pagingjs .selected {background-color: #199FDA;color: #FFFFFF;height: 28px;line-height: 28px;width: 28px;}
/** COMMON BORDER **/
.cp_border_top,#word_list .cp_border_top {background: url(../images/border/complete_top_border.gif) no-repeat; width: 759px; height: 17px;}
.cp_border_bottom, #word_list .cp_border_bottom {background: url(../images/border/complete_bottom_bg.gif) no-repeat; width: 759px; height: 19px;}
.cp_content, #word_list .cp_content{background: url(../images/border/complete_content_bg.jpg); width: 759px;}
.cp_padding , #word_list .cp_padding{padding: 10px 15px;}

/************************** TOPIC *********************/
#wordtopic ul {list-style: none; padding: 0; margin: 0; margin-bottom: 10px;}
#wordtopic li {float: left; text-align: left; border-radius: 6px; behavior: url(PIE.htc); padding: 5px 10px; margin-right: 10px; width: 200px; margin-bottom: 7px; border: 1px solid green;}
#wordtopic li:hover, #wordtopic .active {background: #EEEEEE;}