/* CSS Document */
body {background: #fff;font-family: arial, sans-serif; color: #3c3c3c; font-size: 13px;}
a {color: #333333}
h1,h2,h3 {line-height: 1.2; font-size: 100%}
a:hover {color: #eb3030;}
input[type=text], input[type=password], select{ background: #fff; border: 1px solid #ccc; height: 34px; display: inline-block; padding: 0 15px;}
input[type=submit],input[type=button],input[type=reset]{ background-color: #EB3030; border: none; height: 38px; color: #fff; cursor: pointer; padding: 0 10px;}
input[type=checkbox]{ height: auto; line-height: inherit; margin: 0 5px 0 0 !important; vertical-align: middle; display: inline-block !important;}
img {max-width: 100%;  }
.content_detail img {height: auto !important;}
.content_detail h1, .content_detail h2, .content_detail h3, .content_detail{line-height: 1.5}
iframe {max-width: 100% !important; height: auto !important;}
table {max-width: 100% !important;}
input:hover[type=submit],input:hover[type=button]{ background-color: #DA2D2D;}
input{height: 30px; line-height: 30px;  font-family: Arial, Helvetica, sans-serif; color: #666666; border-radius: 3px; moz-border-radius: 3px; -webkit-border-radius: 3px; }
input:focus[type=text],input:focus[type=password], textarea:focus, select:focus{ border: 1px solid #349EED; box-shadow: 0 0 5px #eee; background: #fff;}
input[type="text"]:disabled{ background: #f0f0f0;}
select{ padding: 5px 5px 5px 10px; height: auto; line-height: 1em; display: inline-block;}
option{ padding: 3px 5px;}
.input-file{ padding: 5px 10px; border: 1px solid #dedede; background: #f7f7f7;}
.input-file span{text-align: center;}
textarea{ background: #f7f7f7; border: 1px solid #CCCCCC; padding: 10px 15px !important; width: 240px; font-family: Arial, Helvetica, sans-serif;}
button{ border: none; cursor: pointer;}
label{ font-size: 13px;}

audio {width: 100%; height: 35px;}
.error {color: #b00000; font-size: 12px; font-style: italic; margin-bottom: 5px;}
.clear {clear: both; overflow: hidden;}

ul, ol{list-style: none; margin: 0; padding: 0}
img{border: 0; max-width: 100%;}

.content_detail li ul,.content_detail li ol{margin-left: 1.5em;}
.content_detail ul,.content_detail ol{padding-left: 15px;}
.content_detail ul{list-style-type:disc;}
.content_detail ol{list-style-type:decimal;}
.content_detail ol ol{list-style:upper-alpha;}
.content_detail ol ol ol{list-style:lower-roman;}
.content_detail ol ol ol ol{list-style:lower-alpha;}
/** PAGING **/
#paging{margin: 10px 0;padding: 3px 0;text-align: right;}
#paging span, #paging a{border:solid 1px #ddd;color:#949494;padding:0 7px;display:inline-block; line-height:22px;text-align:center;margin:0 3px 0 0;-moz-border-radius:2px; -webkit-border-radius:2px;-khtml-border-radius:2px;border-radius:2px;}
#paging a:hover, #paging span.active, #paging span.paging_current {background: none repeat scroll 0 0 #F0F5F8;border: 1px solid #A8D1E0;color: #000000;}


#cl_left2 {margin: 10px 7px 0 7px;}
#cl_right {margin: 0 7px;}
#cl_left2 .title, #cl_right .title, #cl_left2 .mod_title {background: #c62727; color: #FFF; padding: 0 10px; font-weight: bold; padding: 5px 7px; margin-bottom: 10px;}

#header { position: relative; height: 100px;}
#header .slogan {max-width: 65%; margin: 0 auto; line-height: 45px; display: block;}
#header .slogan img {vertical-align: middle; max-height: 100%}
#header .menu {position: absolute; padding-left: 10px; padding-top: 5px; height: 45px; padding-right: 5px; text-align: center; line-height: 100%; color: #b00000; cursor: pointer;}
#header .menu .icon {background: url("../images/mobile/icon_gen.png") no-repeat; height: 15px; width: 31px; margin-bottom: 5px;}
#header .menu_active {background: #c73838; color: #FFF}
#header .menu_active .icon {background-position: 0 -13px;}

#header .member {position: absolute; padding-right: 5px; right: 0px; top: 0; margin-top: 0px; padding-top: 5px; height: 45px; text-align: center; line-height: 100%; max-width: 60px;}
#header .member .icon {width: 18px; height: 18px; background: url("../images/mobile/icon_gen.png") no-repeat; background-position: 0 -46px; margin: 0 auto;}
#header .member .icon_logined {background: url("../images/mobile/icon_gen.png") no-repeat scroll 0 -28px;}

#header .member_extend {display: none; background: #c73838; position: absolute; right: 0; top: 45px; width: 200px; padding: 10px 10px 0; z-index: 10;}
#header .member_extend a {color: #FFF; padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #EEEEEE; display: block; text-align: left;}
#header .member_extend a:last-child {border: none; margin-bottom: 0;}


#header .search_box {padding: 10px; background: #5d5d5d}
#header .search_box input {background: url("../images/mobile/search_icon.gif") no-repeat scroll 100% 0 #FFF; border: none; width: 100%; padding-left: 10px; padding-right: 60px;}
/****** MENU TOP ******/

#menutop {display: none; position: absolute; z-index: 2; left: 0; width: 250px; top: 45px; background: url("../images/mobile/menu_top_icon.png") scroll 10px 0 no-repeat #c73838; padding-bottom: 10px;}
#menutop .menuchild {display: none;}
#menutop .level1 .link1 {display: block; height: 38.5px; line-height: 38px; color: #FFF; border-bottom: 1px solid #FFF; padding-left: 40px;}
#menutop .level1:last-child .link1 {border-bottom: 0;}

#menuleft .menuchild {display: none;}
#menuleft {padding-bottom: 10px; background: #eaeaea; position: relative;}
#menuleft .ulmenu1 {padding-top: 10px; display: none;}
#menuleft .level1 {float: left; width: 47%; height: 53px;  margin: 0 1% 5px; text-align: center; background: url("../images/mobile/main_menu_bg.jpg") no-repeat scroll 50% 50%; }
#menuleft .level1 .title{display: table-cell; vertical-align: middle; height: 53px; width: 500px; text-align: center;}
#menuleft .level1 .link1 {color: #FFF; overflow: hidden;}
#menuleft .leve3 {display: block;}

#menu_video li {background: #DDD; padding: 5px; margin-bottom: 5px;}

#menu_drop_icon {text-align: center; cursor: pointer;}
#homepage #menu_drop_icon {display: none;}
#homepage #menuleft .ulmenu1 {display: block;}

.menu_popup .title{background: #c62727; color: #FFF; padding: 10px 0 10px 10px; font-weight: bold; margin-bottom: 10px; border-radius: 8px;}
.menu_popup .title a {color: #FFF}
.menu_popup .menu_level2 {display: block; padding: 10px 0; text-align: center; border: 1px solid #c62727; background: #EEEEEE; border-radius: 7px; margin-bottom: 5px; font-weight: bold;}
.menu_popup .level3 {margin-top: 5px;}
.menu_popup .link3 {padding-bottom: 5px; border-bottom: 1px solid #DDDDDD; margin-bottom: 5px; display: block; text-align: center;}
.menu_popup .level3 li:last-child .link3 {border: none;}
/****** USERS *********/
#register .mod_title {background: url("../images/mobile/reg_icon.png") no-repeat; color: #333; padding-left: 55px;}
#register .form_item {margin-bottom: 10px;}
#register .form_item input[type="text"], #register .form_item input[type="password"]{width: 100%;}
#register .form_item textarea {width: 100%}
#register .form_item span {font-weight: bold; margin-bottom: 8px; display: block;}
#register .captcha span {display: block;} 
#register .captcha input[type="text"] {width: 30%; float: left; margin-right: 7px;}
#register .message {text-align: center; font-weight: bold;}
#register .submit {margin-top: 10px; text-align: center;}
#register .form_item .ext_login {text-align: right;}
#register .form_item .ext_login a{font-style: italic; text-decoration: underline;}

#register .facebook_login {text-indent:-9999px; margin-right: 10px; background: url("../images/icon_social.png") no-repeat; height: 29px; width: 110px; display: block; float: left;}
#register .google_login {text-indent:-9999px;background: url("../images/icon_social.png") scroll bottom no-repeat; height: 29px; width: 110px; display: block; float: left;}

#advertise_top {position: relative;}
#advertise_top .slides li {display: none;}
#advertise_top .slides li:first-child {display: block;}


/******** FOOTER **********/
#footer {margin-top: 20px; border-bottom: 4px solid #c62727; padding-bottom: 15px;}
#footer .backtotop {height: 45px; background: #c62727; color: #FFF; font-size: 12px; text-align: center; margin-bottom: 20px;}
#footer .backtotop span {display: block; line-height: 10px;}
#footer .backtotop img {margin-bottom: 3px;}
#footer .menu {float: left;  margin-top: 8px; margin-left: 10px; cursor: pointer;}
#footer .backtop {float: right; margin-right: 10px; margin-top: 3px; cursor: pointer;}

#static_footer .chinhanh div {border-radius: 5px; border: 1px solid #c62727; padding: 7px 15px; width: 200px; text-align: center; margin: 0 auto 15px}
#static_footer .contact {font-weight: bold; text-align: center; margin-top: 20px; clear: both; overflow: hidden;}
/*************** NEWS ***********/
#news_detail .detail_viewmore {background: #c62727; text-align: center; color: #FFF; font-weight: bold; line-height: 30px; border-radius: 7px; cursor: pointer; margin-bottom: 10px;}

#news_lists .item {margin-bottom: 10px;}
#news_lists .img_news {float: left; width: 100px; margin-right: 10px;}
#news_lists .description {overflow: hidden;}
#news_lists .description a  {font-weight: bold;}

.video_title {margin: 10px 0}

#news_relate {margin-top: 10px;}
#news_relate .back {float: right;}
#news_relate .back a {color: #FFF; font-weight: normal; text-decoration: underline;}
#news_relate li {list-style: outside; margin-bottom: 5px;}
#news_relate ul {padding-left: 15px; } 
#news_relate ul a {font-weight: bold;}

#share {height: 40px;}
#share li {float: left; margin-left: 10px; width: 80px; list-style: none; height: 20px;}
#share li:first-child {margin-left: 0; width: 130px}
#share li:last-child {width: 60px;}

#comment {margin-top: 15px;}
#comment .counts {float: right;}
#comment .title_cm  {margin-bottom: 10px}

/*********** CATE TEST **/
#cate_test .testing_title a, #more_pactice a{font-weight: bold; display: block; padding: 7px 0;}
#cate_test .cate_chan, #more_pactice .cate_chan {background: #EEEEEE}

.list_and_read .quest_content {font-weight: bold; margin-bottom: 10px;}
.list_and_read .div_img, .list_and_read  .media_bt ,.list_and_read .question_detail,.list_and_read .answer_content,.list_and_read .reading_description,.list_and_read .stt{margin-bottom: 10px;}
.list_and_read .chan {background: #d4dfff; padding: 5px 0;}

#test_random .answer_content, #test_list .answer_content {
    display: none;
}

.result_hide {display: none;}
.result_choose {margin-bottom: 10px;}
.result_choose .answer_status, .result_choose input {float: left; margin-right: 5px; height: auto;}
.result_choose .answer_status {width: 19px; height: 13px;}
.result_choose .item {margin-top: 7px;}
.result_choose .question_detail{font-weight: bold;}


.practice_bt {margin-bottom: 15px;}
.practice_bt .score {margin: 10px 0; font-weight: bold;}
.practice_bt .bt_pr {background: url("../images/mobile/tab_script_bg.gif") repeat-x; border-radius: 9px; color: #FFF; padding: 7px 7px; font-size: 11px; font-weight: bold;}

#show_count_down {margin-bottom: 10px; padding: 10px 0;}


#fulltest_form .result {max-height: 300px; overflow-y: scroll;}
#fulltest_form .full_nav{position: fixed; bottom: 0; left: 0; width: 100%; background: #c62727; border-top: 2px solid #999999;}
#fulltest_form .full_nav .testing_next {width: 50%; padding: 10px 0; text-align: center;  color: #FFF; font-weight: bold;}
#button_next_full {background: #000; float: right;}
#button_back_full {background: none; float: left;}
#fulltest_form .score {font-weight: bold; font-size: 13px;}
#fulltest_form .result_button {margin: 15px 0;}
#fulltest_form .testing_submit {width: 40%; float: left; background: #c62727; padding: 10px 0; text-align: center; color: #FFF; border-radius: 10px; margin-right: 5%; font-weight: bold;}

#show_part {position: fixed; bottom: 0; left: 0; width: 100%; background: #ffff80; padding: 10px 5px; text-align: center;}
#show_part a {color: #111; font-size: 12px; font-weight: bold;}
/********** COURSE ***********/
#word_title li {background: #DDDDDD; margin-bottom: 5px; padding: 5px; font-weight: bold; cursor: pointer;}

/**************************************/
#word_list ul {list-style: none; padding: 0; margin: 0;}
#word_list .right {box-shadow: 0 0 8px 1px #B7B7B7; padding: 6px; margin: 15px 0;}
#word_list .left li {float: left; width: 100px; height: 100px; text-align: center; border: 1px solid #E6E6E6; vertical-align: middle; margin-right: 10px; margin-bottom: 10px;}
#word_list .left li img {cursor: pointer; padding: 3px; max-height: 100%;}
#word_list .left li.active {border: 2px solid #646464;}

#word_list .img-caption {background-color: #000000;color: #FFFFFF;font-size: 22px;font-weight: 700;height: 40px;line-height: 35px;}

#word_list .item {min-height: 310px;}
#word_list .image {text-align: center; cursor: pointer;}

#word_list .tool {margin-top: 10px;}
#word_list .tool div{float: right; cursor: pointer; height: 30px; margin-left: 2px;}
#word_list .translate {margin: 0 10px;}
#word_list .play {background: url("../images/icons/flashcard-recording-buttonlist.png") no-repeat scroll -46px 5px transparent;width: 25px;}
#word_list .stop {background: url("../images/icons/flashcard-recording-buttonlist.png") no-repeat scroll 7px 5px transparent;width: 25px;}
#word_list .split {background: url("../images/icons/button-list.png") no-repeat scroll -139px 0 transparent;width: 12px;}
#word_list .speaker {background: url("../images/icons/button-list.png") no-repeat scroll -100px 50% transparent;width: 34px;}
#word_list .flip-card {background: url("../images/icons/button-list.png") no-repeat scroll -69px 0 transparent;width: 32px;}
#word_list .btn-next {background: url("../images/icons/button-list.png") no-repeat scroll -22px 0 transparent;width: 32px;}
#word_list .btn-prev {background: url("../images/icons/button-list.png") no-repeat scroll 4px 0 transparent;width: 32px;}
#word_list .title-flip-outer {font-size: 28px;font-weight: 700;text-align: center; margin-top: 15px;}
#word_list .word-phonetic {font-size: 16px;margin-top: 7px; text-align: center;}
#word_list .vietnamese-meaning {color: #F5750C; font-size: 16px;font-weight: 700;margin-top: 15px;}
#word_list .subject {color: #548DD4;font-weight: 700;margin-top: 20px;text-align: left;}
#word_list .example {margin-top: 15px;}

#word_list .record {background: url("../images/icons/flashcard-recording-buttonlist.png") no-repeat scroll -121px 5px transparent; width: 25px;}
#word_list .record:hover, #word_list .record_active{background: url("../images/icons/flashcard-recording-buttonlist.png") no-repeat scroll -142px 5px }
#word_list .record_popup {position: fixed; z-index: 9; right: 0; top: 0; height: 100px; width: 300px; background: #333333; color: #FFF; padding-left: 10px;}


#word_list .stop_active {background: url("../images/icons/flashcard-recording-buttonlist.png") no-repeat scroll -22px 5px transparent;}
#word_list .play_active {background: url("../images/icons/flashcard-recording-buttonlist.png") no-repeat scroll -72px 5px transparent;}


#audiorecorder, #flashrecarea{width: 100%; height: 100%; position: fixed;}
/*********************** DROP   **************************/
#word_drop .left {float: left; margin-left: 15px; width: 220px; min-height: 150px;}
#word_drop .right {float: right; width: 490px;}
#word_drop .left .word_item{margin-top: 10px; font-size: 17px;line-height: 22px; cursor: move;}
#word_drop .word_drop {float: left; width: 150px; margin-left: 13px; position: relative; }
#word_drop .word_drop img {max-width: 150px; max-height: 120px;}
#word_drop .hover {opacity: 0.8;}
#word_drop .right .word_item { background: #151515;height: 40px;opacity: 0.82;position: absolute; bottom: 0px; text-align: center;width: 150px;z-index: 10; font-size: 22px;font-weight: 700;line-height: 35px; color: #FFF;}
#word_drop .ui-draggable-dragging {color: red; background: none; color: #008FD6;font-size: 24px;line-height: 23px;}
#word_drop .result-background {background-color: #000000;opacity: 0.4; position: absolute; width: 100%; height: 100%; z-index: 3;}
#word_drop .result_img {width: 100%; text-align: center; position: absolute; z-index: 2; top: 7px;}
#word_drop .result_img img {width: 70px;}
/*********************** RETYPE   **************************/
#retype .left {margin-top: 10px;}
#retype .right {margin-top: 25px;}
#retype .result-title-bar {color: #FFFFFF;font-size: 20px;height: 40px;line-height: 40px;padding-left: 20px; background: -moz-linear-gradient(center top , #EF883E 4%, #F46E00 100%) repeat scroll 0 0 transparent; font-weight: 700;}
#retype .remain, #retype .correct, #retype .incorrect {border-bottom: 1px solid #EAEAEA;color: #000000;height: 32px;padding-top: 5px; font-weight: 700;}
#retype .img-wrapper {position: relative; width: 364px;}
#retype .img-wrapper .img-main {border: 7px solid #FFFFFF;box-shadow: 0 0 7px 2px #BFBFBF;display: none;min-width: 250px;}
#retype .user-input {background-color: #E8E8E8;margin-top: 25px;padding: 14px; width: 340px; position: relative;}
#retype .user-input .textbox {border: 1px solid #E0E0E0;box-shadow: 0 16px 30px -21px #D9D9D9 inset;font-family: 'Segoe UI';font-size: 22px;height: 35px;position: relative;text-align: center; width: 260px;}
#retype .listen-again {background: url("../images/icons/flashcard-tab3-listenagain.png") no-repeat scroll center center transparent;cursor: pointer;height: 37px;margin-left: 7px;margin-top: 1px;position: relative;width: 36px; float: right;}
#retype .show-answer {background: url("../images/icons/flashcard-help-tab3.png") no-repeat scroll center center transparent;border-radius: 10px 10px 10px 10px;cursor: pointer;height: 32px;position: absolute;right: -38px;top: 14px;width: 32px;}

#retype .remain {margin-top: 15px;}
#retype .remain .number, #retype .correct .number, #retype .incorrect .number {font-size: 28px;margin-top: 6px; line-height: 10px; float: right;}
#retype .remain .number {color: #0070C0; margin-top: 0; }
#retype .correct .number {color: #00B050;}
#retype .incorrect .number {color: #C00000;}
#retype .text {line-height: 20px;}
#retype .result-content-outer .text{float: left;}
#retype .answer_help {background: #151515;height: 55px;opacity: 0.82;position: absolute; bottom: 0px; text-align: center;z-index: 1; font-size: 26px;font-weight: 700;line-height: 47px; color: #FFF; width: 100%; display: none}
#retype .answer_result {background-color: #000000;opacity: 0.4; position: absolute; width: 100%; height: 100%; z-index: 3; top: 0; text-align: center; display: none;}
#retype .type_correct,#retype  .type_incorrect {margin-top: 60px;}
/*********************** COMMON **************************/
#word_drop .submit, #retype .submit, #course_complete .submit{border-top: 1px solid #E6E6E6; padding-top: 20px; margin-top: 20px; margin-bottom: 15px;}
#word_drop .global-button-green-1, #retype .global-button-green-1, #course_complete .global-button-green-1{font-size: 12px;border-style: solid;color: white;cursor: pointer;font-weight: bold;text-align: center;}
#word_drop .global-button-green-1 span, #retype .global-button-green-1 span, #course_complete .global-button-green-1 span{display: block; background: #F5750B ; border-color: #F5750B; height: 29px;line-height: 29px;border-width: 1px; border-radius: 2px 2px 2px 2px;}
.global-activity-guide {background: yellowgreen; padding: 10px; font-weight: bold; margin-bottom: 10px;}
.recorderFlashContainer {display: none;}
/*************************** COMPLETE ********************************/
#course_complete .wccontent{margin-bottom: 10px;}
#course_complete .images {float: left; width: 200px; margin-right: 15px;}
#course_complete .question {margin-bottom: 10px; border-bottom: 1px solid #DEDEDE; padding-bottom: 15px; font-size: 13px; font-weight: 700;}
#course_complete .question input {width: 100px; margin: 0 7px; border: 1px solid #DDDDDD; background: #FFF7CC; padding: 3px 5px;}

	#course_complete .player {width: 100%}
#course_complete .pagingcomplete {}

#pagingjs .inactive-button {border: 1px solid #DBDBDB;box-shadow: 0 20px 32px -22px #DBDBDB inset;height: 26px;line-height: 26px;width: 26px; cursor: pointer;display: inline-block;font-size: 14px;font-weight: bold;margin: 4px;text-align: center;}
#pagingjs .inactive-button:hover {background-color: #F9873A;border: 1px solid #FB802D;box-shadow: none !important;color: #FFFFFF;}
#pagingjs .selected {background-color: #199FDA;color: #FFFFFF;height: 28px;line-height: 28px;width: 28px;}

/************************** TOPIC *********************/
#wordtopic li {text-align: center; border-radius: 6px; behavior: url(PIE.htc); width: 100%; border: 1px solid green; padding: 10px 0; margin-bottom: 10px;}
#wordtopic li:hover, #wordtopic .active {background: #EEEEEE;}

#bottom_support {position: fixed; bottom: 0; z-index: 2; background: #ffc000; left: 0; right: 0;}
#bottom_support .r_blue {float: left; padding: 10px; font-weight: bold; border-right: 1px solid #FFF; width: 33%;}
#bottom_support .r_blue:last-child {border-right: 0; width: 100%;}
#bottom_support .vcon-phone {background: url("../images/mobile/icon_gen.png") no-repeat scroll -33px -41px; width: 16px; height: 16px; display: block; float: left; margin-right: 7px;} 
#bottom_support .vcon-sms {background: url("../images/mobile/icon_gen.png") no-repeat scroll -33px -56px; width: 16px; height: 16px; display: block; float: left; margin-right: 7px;}
#bottom_support .vcon-mail {background: url("../images/mobile/icon_gen.png") no-repeat scroll -33px -26px; width: 16px; height: 16px; display: block; float: left; margin-right: 7px;}

.support_by_phone {display: block; position: fixed; bottom: 0; left: 0; z-index: 2; right: 0; background: #ffc000; color: #111; padding: 7px 10px; font-weight: bold; line-height: 25px}
.support_by_phone:hover {color: #333333}
.support_by_phone i {background: url("../images/mobile/icon_gen.png") no-repeat scroll -30px 0; width: 29px; height: 27px; display: inline-block; float: left; vertical-align: text-top; margin-right: 5px;}

#speaking .opacity,#writing .opacity, #speaking_answer .opacity {opacity: 0.8; filter: alpha(opacity=80); background: #000000;  position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 2;}
#speaking, #writing, #speaking_answer {position: absolute; width: 100%; height: 100%;  top: 0; left: 0; overflow-x: scroll;}

#countdown_area .countdown-amount  {font-size: 14px; font-weight: bold; line-height: 33px; margin-right: 15px;}
#static_footer {padding-bottom: 30px;}
/********************** SPEAKING ANSWER **************/
@media (min-width: 790px) {
	#countdown_area {position: absolute; bottom: 200px; width: 100%; left: 0; z-index: 10; bottom: 90px;}
	#prepare_count_down {background: url("../images/bg/prepare.jpg"); width: 211px; height: 33px; margin: 0 auto; display: none; text-align: right;}
	#response_count_down {background: url("../images/bg/response.jpg"); width: 213px; height: 33px; margin: 0 auto; display: none; text-align: right;}
	#response_allow_down {background: url("../images/bg/allowtime.jpg"); width: 213px; height: 33px; margin: 0 auto; display: none; text-align: right;}
	
	#speaking_list li a{line-height: 23px; font-weight: bold;}
	#speaking_list ul {margin-left: 10px;}
	#speaking_list .list_title {color: Green;}

	#speaking #change_question {position: absolute; bottom: 32px; left: 315px; width: 152px; height: 19px;}
	#speaking .next_speaking, #speaking .prev_speaking {position: absolute; cursor: pointer; height: 19px; width: 23px; position: absolute; }
	#speaking .next_speaking {right: 0; background: url(../images/button/speaking_next.gif) no-repeat;}
	#speaking .prev_speaking {left: 0; background: url(../images/button/speaking_prev.gif) no-repeat;}
	#speaking .answer_form {margin-top: 15px;}
	#speaking .detail {margin-bottom: 10px;}
	#speaking .users_answer {font-weight: bold; font-size: 14px; font-style: italic; text-decoration: underline; color: #900;}
	.repeat_sound {float: left; margin-right: 10px; font-weight: bold; cursor: pointer; color: #900;}
	#speaking .sp_content {margin: 0 auto; width: 788px; height: 580px; margin-top: 20px; background: url("../images/bg/speaking_bg.jpg") no-repeat; position: relative; z-index: 3;}
	#speaking .sp_content .sp_title{color: #0f467e; font-weight: bold; font-size: 16px; font-family: tahoma; position: absolute; top: 25px; left: 440px; position: relative;}
	#speaking .question_content {width: 637px; height: 435px; margin: 0 auto; top: 63px; position: relative;}
	#speaking .question {display: table-cell; vertical-align: middle; height: 435px; width: 100%; background: #FFF;}
	#speaking .first_question {position: absolute; top: 0; left: 0; cursor: pointer; z-index: 2;}
	#speaking .image {margin-bottom: 10px; text-align: center;}
	#speaking .button_exit {position: absolute; bottom: 7px; right: 20px;}
	#speaking .top_button {position: absolute; top: 0px; right: 29px;}
	#speaking .sound_area {position: absolute; bottom: 27px; left: 344px; z-index: 11;}
	#speaking .sound_area img {cursor: pointer;}
	#speaking_userguide {width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
	#speaking_userguide img {display: none;}
	#speaking #preview_playing {position: absolute; bottom: 56px; left: 386px;}
	#continue_button {cursor: pointer;}
	#speaking .point_area {color: red;top:90px; font-size: 70px;font-weight: bold;position: absolute;right: 60px;}
	#speaking .point_teacher {position: absolute; bottom: 13px; left: 190px; color: red; cursor: pointer; font-weight: bold;}
	#speaking .writing_content {overflow-y: auto;}

    #speaking_answer .sp_content {margin: 0 auto; width: 790px; height: 583px; margin-top: 20px;  position: relative; z-index: 3;}
	.speaking_answer .sp_content {background: url("../images/bg/speaking_answer_bg.jpg") no-repeat;}
	.writing_answer .sp_content {background: url("../images/bg/answer_writing.jpg") no-repeat;}

	#speaking_answer .question_content {width: 328px; height: 405px; top: 117px; left: 50px; position: absolute;}
	#speaking_answer .sp_title { height: 30px; line-height: 30px; overflow: hidden;}
	#speaking_answer .question {margin-top: 15px; overflow-y: auto; height: 350px;}
	#speaking_answer .tabscript {float: right; margin-top: 5px; cursor: pointer;}
	#speaking_answer .button_exit {position: absolute; bottom: 8px; right: 22px;}
	#speaking_answer .question_number {position: absolute; top: 84px; left: 393px;}
	#speaking_answer .question_number li {float: left; color: #3580b1; cursor: pointer; width: 31px; text-align: center;}
	#speaking_answer .question_answer {position: absolute; top: 117px; width: ; left: 410px; width: 325px;}
	#speaking_answer .answer_content {margin-top: 15px;  width: 100%; overflow-y: auto;}
	#speaking_answer .sound_question, #speaking_answer .sound_answer {float: right; margin-top: 4px; position: absolute; right: 0; top: 0;}
	#speaking_answer .question_number .selected {background: #1679cc; color: #FFF;}
	#speaking_answer .tab_script {cursor: pointer; background: url("../images/button/tab_script_speaking.gif") no-repeat; width: 31px; height: 22px; float: left; margin-right: 10px;}
	#speaking_answer .point_area {color: red;top:20px; font-size: 50px;font-weight: bold;position: absolute;right: 215px; }
	#speaking_answer .point_teacher {position: absolute; bottom: 13px; left: 30px; color: red; cursor: pointer; font-weight: bold;}
	#speaking_answer .viewcomment {color: red; font-weight: bold; font-size: 13px; cursor: pointer; position: absolute; top: 22px; right: 284px; }
	#speaking_answer .total_point {position: absolute; font-weight: bold; bottom: 5px;  right: 360px;}
	#speaking_answer .total_point span {color: red; font-size: 40px;}
}
@media (max-width: 789px) {
	/****************************** SPEAKING ******************************/
	#countdown_area {position: absolute; bottom: 200px; width: 100%; left: 0; z-index: 10; bottom: 90px;}
	#prepare_count_down {background: url("../images/bg/prepare.jpg"); width: 211px; height: 33px; margin: 0 auto; display: none; text-align: right;}
	#response_count_down {background: url("../images/bg/response.jpg"); width: 213px; height: 33px; margin: 0 auto; display: none; text-align: right;}
	#response_allow_down {background: url("../images/bg/allowtime.jpg"); width: 213px; height: 33px; margin: 0 auto; display: none; text-align: right;}
	#countdown_area .countdown_amount  {font-size: 14px; font-weight: bold; line-height: 33px; margin-right: 15px;}
	#speaking_list li a{line-height: 23px; font-weight: bold;}
	#speaking_list ul {margin-left: 10px;}
	#speaking_list .list_title {color: Green;}

	#speaking #change_question {position: absolute; bottom: 32px; left: 315px; width: 152px; height: 19px;}
	#speaking .next_speaking, #speaking .prev_speaking {position: absolute; cursor: pointer; height: 19px; width: 23px; position: absolute; }
	#speaking .next_speaking {right: 0; background: url(../images/button/speaking_next.gif) no-repeat;}
	#speaking .prev_speaking {left: 0; background: url(../images/button/speaking_prev.gif) no-repeat;}
	#speaking .answer_form {margin-top: 15px;}
	#speaking .detail {margin-bottom: 10px;}
	#speaking .users_answer {font-weight: bold; font-size: 14px; font-style: italic; text-decoration: underline; color: #900;}
	.repeat_sound {float: left; margin-right: 10px; font-weight: bold; cursor: pointer; color: #900;}
	#speaking .sp_content {margin: 0 auto; margin: 20px 10px 0 10px; position: relative; z-index: 3; background: #FFF; padding: 10px 10px 60px; min-height: 500px;}
	#speaking .sp_content .sp_title{color: #0f467e; font-weight: bold; font-size: 16px; font-family: tahoma; margin-bottom: 20px;}
	#speaking .question {margin: 0 10px; background: #FFF; }
	#speaking_userguide .question {padding-top: 100px;}
	#speaking .first_question {position: absolute; top: 0; left: 0; cursor: pointer; z-index: 2;}
	#speaking .image {margin-bottom: 10px; text-align: center;}
	#speaking .button_exit {position: absolute; bottom: 7px; right: 20px;}
	#speaking .top_button {position: absolute; top: 0px; right: 0;}
	#speaking .sound_area {position: absolute; bottom: 27px; left: 344px; z-index: 11;}
	#speaking .sound_area img {cursor: pointer;}
	#speaking_userguide {width: 100%; height: 100%; position: absolute; padding-top: 100px; background: #FFF; top: 0; left: 0;}
	#speaking_userguide img {display: none;}
	#speaking #preview_playing {position: absolute; bottom: 56px; left: 386px;}
	#continue_button {cursor: pointer;}
	#speaking .point_area {color: red;top:90px; font-size: 70px;font-weight: bold;position: absolute;right: 60px;}
	#speaking .point_teacher {position: absolute; bottom: 13px; left: 190px; color: red; cursor: pointer; font-weight: bold;}
	#speaking .writing_content {overflow-y: auto;}

	#speaking_answer  {background: #FFF; }
	#speaking_answer .sp_content {margin: 0 auto; padding: 50px 10px 10px 10px; min-height: 100%; margin-top: 20px;  position: relative; z-index: 3; background: #FFF}
	.writing_answer .sp_content {background: url("../images/bg/answer_writing.jpg") no-repeat;}

	#speaking_answer .sp_title { font-weight: bold; color: red; margin: 10px 0; border-bottom: 1px solid #DDDDDD; padding-bottom: 7px; font-size: 14px;}

	#speaking_answer .tabscript {float: right; margin-top: 5px; cursor: pointer;}
	#speaking_answer .button_exit {position: absolute; bottom: 8px; right: 22px;}
	#speaking_answer .question_number {position: absolute; top: 5px; left: 10px;}
	#speaking_answer .question_number li {float: left; color: #3580b1; cursor: pointer; width: 31px; text-align: center;}
	#speaking_answer .speaking_tab {padding-bottom: 80px;}

	#speaking_answer .sound_question, #speaking_answer .sound_answer {margin-top: 4px; position: absolute; right: 0; top: 0;}
	#speaking_answer .sound_answer {top: 30px;}
	#speaking_answer .question_number .selected {background: #1679cc; color: #FFF;}
	#speaking_answer .tab_script {cursor: pointer; background: url("../images/button/tab_script_speaking.gif") no-repeat; width: 31px; height: 22px; float: left; margin-right: 10px;}
	#speaking_answer .point_area {color: red;top:20px; font-size: 50px;font-weight: bold;position: absolute;right: 215px; }
	#speaking_answer .point_teacher {position: absolute; bottom: 13px; left: 30px; color: red; cursor: pointer; font-weight: bold;}
	#speaking_answer .viewcomment {color: red; font-weight: bold; font-size: 13px; cursor: pointer; position: absolute; top: 22px; right: 284px; }
	#speaking_answer .total_point {position: absolute; font-weight: bold; bottom: 5px;  right: 360px;}
	#speaking_answer .total_point span {color: red; font-size: 40px;}
}
@media (max-width: 320px) {
	#speaking_answer .question_number {max-width: 215px}
}
@media (max-width: 480px) {
	#speaking_answer .question_number {max-width: 60%}
}
/***************************** WRITING ***********************/

#show_coun#speaking_answer .question_number .show_word {background: url("../images/bg/hide_word_count.gif"); width: 131px; height: 21px; overflow: hidden; cursor: pointer;}

#change_question {margin-top: 8px;}
#recorderFlashContainer {z-index: 999;}
#writing .first_question {position: absolute; top: 0; left: 0; z-index: 5; cursor: pointer;}
/**************** WRITING ANSWER ******************/
#speaking_answer .sp_title li {float: left; cursor: pointer; padding: 0 10px; background: #1679CC; margin-left: 5px; margin-top: 2px; color: #FFF;}
#speaking_answer .sp_title li.selected {background: #FFF; color: #111111;}
#speaking_answer .sp_title ul {float: right;}

#writing .button_exit {position: absolute; bottom: 7px; right: 17px;}
#writing .top_button {position: absolute; top: 1px; right: 50px; width: 70px; height: 50px;}

#writing .next_button, #writing .prev_button {position: absolute; cursor: pointer; height: 31px; width: 31px; position: absolute; }
#writing .next_button {right: 0; background: url(../images/button/writing_next.gif) no-repeat; }
#writing .prev_button {left: 0; background: url(../images/button/writing_prev.gif) no-repeat; margin-right: 5px;}

@media (min-width: 790px) {
	#writing .show_word .txt {margin-right: 6px; font-weight: bold; text-align: right; line-height: 25px;}
	#writing .show_word .showtxt {color: #FFF; margin-left: 3px; line-height: 20px; font-weight: bold; font-size: 11px;}
	
	#writing_userguide {position: absolute; top: 80px; background: #FFF; left: 36px; right: 63px; text-align: center; z-index: 3;}


	#writing .sp_content {margin: 0 auto; width: 789px; height: 583px; margin-top: 10px; background: url("../images/bg/writing.jpg") no-repeat; position: relative; z-index: 3;}
	#writing .question_content {position: absolute; top: 80px; width: 700px; left: 50px; height: 445px;}
	#writing .question {vertical-align: middle; height: 271px; width: 690px; background: #FFF; overflow-y: auto;}
	#writing .answer_form {position: absolute; width: 100%; height: 97px; left: 0; bottom: 0px;}
	#writing .answer_form textarea {width: 690px; height: 100%; padding: 0; margin: 0;}
	#writing .sp_content .sp_title{color: #574c1f; font-weight: bold; font-size: 16px; font-family: tahoma; position: absolute; top: 28px; left: 397px;}

	


	#writing_countdown {position: absolute; left: 284px; bottom: 5px; cursor: pointer;}
	/* #writing_count_down {background: url("../images/bg/wcounttime.gif"); text-align: center; height: 46px;} */
	#writing_count_down {background: url("../images/bg/writing_count_down_bg.gif"); text-align: center; height: 38px; border: 2px solid #7fcbc9; float: left; color: #FFF; padding: 0 10px;}
	#writing_countdown .count_down_hide {background: url("../images/bg/writing_count_down_bg.gif"); text-align: center; padding: 0px 10px; color: #FFF; font-weight: bold; float: right; height: 38px; border: 2px solid #7fcbc9; line-height: 35px;}

	#writing_countdown .countdown_amount  {font-size: 13px; font-weight: bold; line-height: 21px; text-align: center; background: none; color: #FFF;}

}
@media (max-width: 789px) {
	#writing .sp_content {margin: 10px 10px 0; padding: 45px 10px 50px; min-height: 500px; margin-top: 10px; background: #FFF; position: relative; z-index: 3; top: 20px;}
	#writing .top_button {right: 10px; width: 58px;}
	#writing .sp_content .sp_title{color: #111; font-weight: bold; font-size: 16px; font-family: tahoma; margin-bottom: 15px; }
	#writing .answer_form textarea{ width: 100%; margin-top: 15px;}

	#show_count_word {margin: 15px 0;}
	#writing .first_question {right: 0px;}
}

#user_speaking .user_lists {width: 100%;}
#user_speaking .user_lists td {padding: 4px;}