﻿/**NEW HOME**/
#news_home_top{margin-top:20px}
#news_home_top .content_news{text-align:justify;padding:10px}
#news_home_bottom{margin:30px 0 0 10px}
#news_home_bottom .item{width:235px;height:180px;overflow:hidden;color:#595050;margin-top:10px}
#news_home_bottom .item .title_item{height:26px}
#news_home_bottom .item .title_item .title_left{background:transparent url('../images/bgitem_cen1.jpg') no-repeat;width:11px}
#news_home_bottom .item .title_item .title_cen{background:transparent url('../images/bgitem_cen3.jpg') repeat-x}
#news_home_bottom .item .title_item .title_cen a{color:#b90000;text-decoration:none}
#news_home_bottom .item .title_item .title_right{height:26px;background:transparent url('../images/bgitem_cen2.jpg') no-repeat;width:11px}
#news_home_bottom .item .decrip{margin:10px 0 5px 10px}
#news_home_bottom .item .decrip p{margin-top:10px}
#news_home_bottom .item_last{margin-left:50px;}

/**NEW DETAIL**/
#new_detail .description{font-weight: bold; margin-bottom: 6px;}
#new_detail .content_detail{text-align:justify;padding:10px}
#new_detail a{color:#1e1c1d;text-decoration:none;}
#new_detail a:hover{color:#bc0007}

/**NEW OTHER**/
#news_other{margin:10px 10px 10px 10px}
#news_other ul{padding-left: 10px;}
#news_other li{list-style:none;margin:5px 10px 0 10px;background:transparent url('../images/icon2.png') no-repeat scroll 0 9px;padding-left:10px}
h2{color:#bc0007;text-transform:uppercase}
/*NEW LIST*/
#news_other .item{
    margin: 10px 0;
}
.img_news{
    width: 100px;
    margin-right:10px;
    float: left;
}
