﻿/**PRACTICE**/
#practice table {border:0}
#practice .div_display{width:314px;margin-top:10px}
.practice_bt{margin-top:10px}
.bt_pr{background:transparent url('../images/bg_button.png') no-repeat;width:91px;height:21px;border:0;font-weight:bold;font-size:11px;margin-right:5px;cursor:pointer}
#practice .div_text{width:215px;margin-top:10px;padding-left:5px;line-height:20px;display:inline}
#practice .item{margin-bottom: 10px;}
#practice .content {background: #FFFCCC; margin-top: 15px;}
.score{color:#f00202; font-weight: bold; margin-bottom: 10px;}
.answer_status{float: left; width: 20px; height: 12px; margin-top: 3px;}
/**MORE PRACTICE**/
#more_pactice{margin-top:20px;padding-left:10px}
#more_pactice ul{margin-top:10px; padding-left: 20px;}
#more_pactice li{width:220px;display:inline;float:left;padding:2px 10px}
#more_pactice a{font-weight: bold;color:#010101}
#more_pactice a:hover{color:#003cff}
/**PRACTICE ANSWER**/
#answer{padding-left:10px;background:#fefccb}
#practice .content_test{margin-top:20px;}
.bg_yellow{background:#fefccb}
#practice .check{width:20px;}
#practice .answer_box{margin-top:5px}
/**TEST**/
#test{margin-top:20px;}
#test .sumtime{height:19px}
#test .div_display{margin-top:10px}
#test .ques_num, .time_count, .time_total{background:transparent url('../images/bgEnglish.png') no-repeat scroll -155px -116px;width:128px;height:19px;text-align:center;font-size:11px;margin-right:20px}
#test .bgtop{background:transparent url('../images/bg_top_test.jpg') no-repeat;width:555px;height:17px}
#test .bgbottom{background:transparent url('../images/bg_bt_test.jpg') no-repeat;width:555px;height:17px}
#test .bgcen{background:transparent url('../images/bg_cen_test.jpg') repeat-y;width:555px;}
#test .content_test{width:326px;padding:0 10px}
#test .content_answer{width:159px;overflow:scroll;margin-left:25px;padding-left:10px;font-size:11px;padding-bottom:10px;height:800px}
#test .content_answer li{list-style:none;display:inline}
#test .div_answer{margin-top:10px}
#test .div_answer li{list-style:none;}
/********************************************** NAM ***********/
#cate_test .testing_title{margin-bottom: 5px;}
#cate_test .testing_title a{font-weight: bold;}
#cate_test .testing_title a:hover{color: maroon;}
/******************************************************/
#test_random .quest_content, #test_list .quest_content{font-weight: bold; margin-bottom: 10px;}
#test_random .div_text{padding: 10px; margin-top: 10px;}
#test_random .media_bt {margin-right: 10px;}
#test_random .answer_content,#test_list .answer_content {display: none;}
#test_random .result {background: #FFFCCC;}
#test_random .div_img { margin-bottom: 10px;}
#test_random .media_bt {width: 200px; margin: 0 auto;}
#test_list .question_detail{margin-bottom: 10px;}
#test_list .div_text{margin-bottom: 10px; padding: 5px;}
#test_list .chan {background: #D4DFFF;}
#test_list .audio{margin: 7px 0;}
#test_list .answer_explain{background: #FFFCCC; padding: 10px; margin-top: 10px;}
#test_list .reading_description{background: #FFFCCC; padding: 10px; margin-bottom: 10px;}

/******************** FULL TEST **********/
.fulltest{
    background: url("../images/bgleft2.jpg") repeat-y scroll 0px 5px transparent;
    width: 1000px;
}
#table_test .left{background: url("../images/fulltest/bg_test_leftmiddle.png") repeat-y;}
#table_test .center{background: url("../images/fulltest/bg_test_middlemiddle.png") repeat-y;}
#table_test .right{background: url("../images/fulltest/bg_test_rightmiddle.png") scroll 100% 0 repeat-y #c7ecff; }
#table_test .bottom_right{background: url("../images/fulltest/bg_rightbottom.png");}
#table_test .top_right{background: url("../images/fulltest/bg_righttop.png");}
#table_test .media{margin-left: 16px; margin-right: 5px;}
#table_test .result{margin-left: 5px; margin-right: 10px; padding-right: 10px;}
#table_test .result_hide{background: #FFFCCC; padding: 10px; margin-bottom: 10px; display: none;}
#table_test .result_show{padding: 0; margin-bottom: 10px; padding-top: 0;}
#table_test .div_display{margin-bottom: 10px;}
#table_test .ansselected{background: #FFFFCC;}
#table_test .quest_content{font-weight: bold; margin: 10px 10px 10px 0px;}
#table_test .media_bt {margin: 7px 0;}
#table_test .div_text {padding: 10px 10px 0 10px;}
#table_test .reading_description {margin-left: 10px;}
#table_test .chan {background: #D4DFFF;}
.display_time_out{height: 25px;}
#show_count_down{ background: #FFFF80; height: 25px; width: 170px; line-height: 25px; text-align: center;}
#show_part{background: #FFFF80; height: 25px; width: 400px; line-height: 25px; text-align: center; }
#show_part a{font-weight: bold; margin: 0 5px;}
.close_fulltest{width: 93px; height: 36px; position: fixed; top: 10px; right: 10px; z-index: 550; cursor: pointer;}

#test_writing .answer{width: 300px;}
#test_writing .left{width: 210px;}
#test_writing textarea{width: 99%; height: 90px; overflow-y: auto;}
#test_writing .show_answer{overflow-y: auto; height: 140px; margin-top: 10px; border: 1px solid #999999; padding: 5px;}