#song {margin: 10px 0;}
#song .player { width: 270px; float: left;}
#song .playlist { overflow: auto; text-align: left; margin-right: 15px; width: 230px; height: 344px; float: right; margin-top: 10px;}
#song ul{list-style: none outside none; padding: 0;}
#song .playlist li { border-top: 1px solid #DFDFDF; padding: 0 0 0 5px; list-style: none outside none; line-height: 30px;}
#song .playlist span {
    border-right: 1px solid #DFDFDF;
    display: block;
    float: left;
    font-weight: bold;
    height: 18px;
    line-height: 18px;
    margin-right: 10px;
    margin-top: 5px;
    text-align: center;
    width: 25px;
}
#song .playlist a { color: #555555;}
#song .border {border: 1px solid #49a0e1; border-top: 0; }
#song .stitle {background: url("../images/song_title.gif") no-repeat; height: 27px; color: #FFF; text-align: center; line-height: 25px; font-size: 13px; font-weight: bold;}


#lirics {margin-top: 10px;}
#lirics .name{font-weight: bold; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 2px dotted #333333; }
#lirics .ltitle {background: url("../images/lirics_title.gif") no-repeat; height: 27px; color: #FFF; text-align: center; line-height: 25px; font-size: 13px; font-weight: bold;}
#lirics .border {padding: 7px; border: 1px solid #49a0e1; height: 300px; background: #E7E1A0; overflow: auto;}