#speaking .opacity,#writing .opacity, #speaking_answer .opacity {opacity: 0.8; filter: alpha(opacity=80); background: #000000;  position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 2;}
#speaking, #writing, #speaking_answer {position: absolute; width: 100%; height: 100%;  top: 0; left: 0;}
/****************************** SPEAKING ******************************/
#countdown_area {position: absolute; bottom: 200px; width: 100%; left: 0; z-index: 10; bottom: 90px;}
#prepare_count_down {background: url("../images/bg/prepare.jpg"); width: 211px; height: 33px; margin: 0 auto; display: none; text-align: right;}
#response_count_down {background: url("../images/bg/response.jpg"); width: 213px; height: 33px; margin: 0 auto; display: none; text-align: right;}
#response_allow_down {background: url("../images/bg/allowtime.jpg"); width: 213px; height: 33px; margin: 0 auto; display: none; text-align: right;}
#countdown_area .countdown_amount  {font-size: 14px; font-weight: bold; line-height: 33px; margin-right: 15px;}
#speaking_list li a{line-height: 23px; font-weight: bold;}
#speaking_list ul {margin-left: 10px;}
#speaking_list .list_title {color: Green;}

#speaking #change_question {position: absolute; bottom: 32px; left: 315px; width: 152px; height: 19px;}
#speaking .next_speaking, #speaking .prev_speaking {position: absolute; cursor: pointer; height: 19px; width: 23px; position: absolute; }
#speaking .next_speaking {right: 0; background: url(../images/button/speaking_next.gif) no-repeat;}
#speaking .prev_speaking {left: 0; background: url(../images/button/speaking_prev.gif) no-repeat;}
#speaking .answer_form {margin-top: 15px;}
#speaking .detail {margin-bottom: 10px;}
#speaking .users_answer {font-weight: bold; font-size: 14px; font-style: italic; text-decoration: underline; color: #900;}
.repeat_sound {float: left; margin-right: 10px; font-weight: bold; cursor: pointer; color: #900;}
#speaking .sp_content {margin: 0 auto; width: 788px; height: 580px; margin-top: 20px; background: url("../images/bg/speaking_bg.jpg") no-repeat; position: relative; z-index: 3;}
#speaking .sp_content .sp_title{color: #0f467e; font-weight: bold; font-size: 16px; font-family: tahoma; position: absolute; top: 25px; left: 440px; position: relative;}
#speaking .question_content {width: 637px; height: 435px; margin: 0 auto; top: 63px; position: relative;}
#speaking .question {display: table-cell; vertical-align: middle; height: 435px; width: 100%; background: #FFF;}
#speaking .first_question {position: absolute; top: 0; left: 0; cursor: pointer; z-index: 2;}
#speaking .image {margin-bottom: 10px; text-align: center;}
#speaking .button_exit {position: absolute; bottom: 7px; right: 20px;}
#speaking .top_button {position: absolute; top: 0px; right: 29px;}
#speaking .sound_area {position: absolute; bottom: 27px; left: 344px; z-index: 11;}
#speaking .sound_area img {cursor: pointer;}
#speaking_userguide {width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
#speaking_userguide img {display: none;}
#speaking #preview_playing {position: absolute; bottom: 56px; left: 386px;}
#continue_button {cursor: pointer;}
#speaking .point_area {color: red;top:90px; font-size: 70px;font-weight: bold;position: absolute;right: 60px;}
#speaking .point_teacher {position: absolute; bottom: 13px; left: 190px; color: red; cursor: pointer; font-weight: bold;}
#speaking .writing_content {overflow-y: auto;}
/********************** SPEAKING ANSWER **************/
#speaking_answer .sp_content {margin: 0 auto; width: 790px; height: 583px; margin-top: 20px;  position: relative; z-index: 3;}
.speaking_answer .sp_content {background: url("../images/bg/speaking_answer_bg.jpg") no-repeat;}
.writing_answer .sp_content {background: url("../images/bg/answer_writing.jpg") no-repeat;}

#speaking_answer .question_content {width: 328px; height: 405px; top: 117px; left: 50px; position: absolute;}
#speaking_answer .sp_title { height: 30px; line-height: 30px; overflow: hidden;}
#speaking_answer .question {margin-top: 15px; overflow-y: auto; height: 350px;}
#speaking_answer .tabscript {float: right; margin-top: 5px; cursor: pointer;}
#speaking_answer .button_exit {position: absolute; bottom: 8px; right: 22px;}
#speaking_answer .question_number {position: absolute; top: 84px; left: 393px;}
#speaking_answer .question_number li {float: left; color: #3580b1; cursor: pointer; width: 31px; text-align: center;}
#speaking_answer .question_answer {position: absolute; top: 117px; width: ; left: 410px; width: 325px;}
#speaking_answer .answer_content {margin-top: 15px;  width: 100%; overflow-y: auto;}
#speaking_answer .sound_question, #speaking_answer .sound_answer {float: right; margin-top: 4px; position: absolute; right: 0; top: 0;}
#speaking_answer .question_number .selected {background: #1679cc; color: #FFF;}
#speaking_answer .tab_script {cursor: pointer; background: url("../images/button/tab_script_speaking.gif") no-repeat; width: 31px; height: 22px; float: left; margin-right: 10px;}
#speaking_answer .point_area {color: red;top:20px; font-size: 50px;font-weight: bold;position: absolute;right: 215px; }
#speaking_answer .point_teacher {position: absolute; bottom: 13px; left: 30px; color: red; cursor: pointer; font-weight: bold;}
#speaking_answer .viewcomment {color: red; font-weight: bold; font-size: 13px; cursor: pointer; position: absolute; top: 22px; right: 284px; }
#speaking_answer .total_point {position: absolute; font-weight: bold; bottom: 5px;  right: 360px;}
#speaking_answer .total_point span {color: red; font-size: 40px;}
/***************************** WRITING ***********************/
#writing .sp_content {margin: 0 auto; width: 789px; height: 583px; margin-top: 10px; background: url("../images/bg/writing.jpg") no-repeat; position: relative; z-index: 3;}
#writing .question_content {position: absolute; top: 80px; width: 700px; left: 50px; height: 445px;}
#writing .question {vertical-align: middle; height: 271px; width: 700px; background: #FFF; overflow-y: auto;}
#writing .answer_form {position: absolute; width: 100%; height: 97px; left: 0; bottom: 0px;}
#writing .answer_form textarea {width: 690px; height: 100%; padding: 0; margin: 0;}
#writing .sp_content .sp_title{color: #574c1f; font-weight: bold; font-size: 16px; font-family: tahoma; position: absolute; top: 28px; left: 397px;}

#writing .top_button {position: absolute; top: 1px; right: 50px; width: 70px; height: 50px;}
#writing .next_button, #writing .prev_button {position: absolute; cursor: pointer; height: 31px; width: 31px; position: absolute; }
#writing .next_button {right: 0; background: url(../images/button/writing_next.gif) no-repeat; }
#writing .prev_button {left: 0; background: url(../images/button/writing_prev.gif) no-repeat;}

#writing_countdown {position: absolute; left: 284px; bottom: 13px; cursor: pointer;}
/* #writing_count_down {background: url("../images/bg/wcounttime.gif"); text-align: center; height: 46px;} */
#writing_count_down {background: url("../images/bg/writing_count_down_bg.gif"); text-align: center; height: 19px; border: 2px solid #7fcbc9; float: left;}
#writing_countdown .count_down_hide {background: url("../images/bg/writing_count_down_bg.gif"); text-align: center; padding: 0px 10px; color: #FFF; font-weight: bold; float: right; height: 19px; border: 2px solid #7fcbc9; line-height: 18px;}

#writing_countdown .countdown_amount  {font-size: 13px; font-weight: bold; line-height: 21px; text-align: center; background: none; color: #FFF;}

#show_count_word {position: absolute; bottom: 14px; right: 230px;}
#writing .show_word {background: url("../images/bg/hide_word_count.gif"); width: 131px; height: 21px; overflow: hidden; cursor: pointer;}
#writing .show_word .txt {margin-right: 6px; font-weight: bold; text-align: right; line-height: 25px;}
#writing .show_word .showtxt {color: #FFF; margin-left: 3px; line-height: 20px; font-weight: bold; font-size: 11px;}
#writing .button_exit {position: absolute; bottom: 7px; right: 17px;}
#writing_userguide {position: absolute; top: 80px; background: #FFF; left: 36px; right: 63px; text-align: center; z-index: 3;}
#change_question {margin-top: 8px;}
#recorderFlashContainer {z-index: 999;}
#writing .first_question {position: absolute; top: 0; left: 0; z-index: 5; cursor: pointer;}
/**************** WRITING ANSWER ******************/
#speaking_answer .sp_title li {float: left; cursor: pointer; padding: 0 10px; background: #1679CC; margin-left: 5px; margin-top: 2px; color: #FFF;}
#speaking_answer .sp_title li.selected {background: #FFF; color: #111111;}
#speaking_answer .sp_title ul {float: right;}