﻿/**ENGLISH SONG**/
#en_song{margin-top:20px;margin-left:10px}
#en_song .topsong{width:312px;}
#en_song .topsong .titlesong{background:transparent url('../images/bgEnglish.png') no-repeat scroll 0 -141px;height:23px;color:#fff;text-align:center;line-height:23px}
#en_song .topsong .boxsong{border-bottom:1px #2b86d5 solid;border-left:1px #2b86d5 solid;border-right:1px #2b86d5 solid;padding-bottom:10px}
#en_song .item{width:120px;margin:10px 0 0 24px;display:inline}
#en_song .item img_{}
#en_song .item .namesong{height:40px;text-align:center;margin-top:5px}
#en_song .item .namesong a{text-decoration:none;color:#528e03}
#en_song .item .namesong a:hover{color:#cf0607}
#en_song .topsong .seemore a{color:#000;text-decoration:none;margin-left:10px}
#en_song .topsong .seemore a:hover{color:#cf0607}

#en_song .listsong{width:180px;margin:0 15px 0 38px;display:inline}
#en_song .listsong .title{background:transparent url('../images/bgEnglish.png') no-repeat scroll 0 -168px;height:23px;color:#fff;text-align:center;line-height:23px}
#en_song .listsong .boxsong{border-bottom:1px #2b86d5 solid;border-left:1px #2b86d5 solid;border-right:1px #2b86d5 solid;padding-bottom:10px;;height:440px;overflow:scroll}
#en_song .listsong .boxsong li{list-style:none;border-bottom:1px #000 dotted;padding:10px}
#en_song .listsong .boxsong a{color:#000;text-decoration:none;}
#en_song .listsong .boxsong a:hover{color:#a50000;font-weight:bold}
#en_song .video{margin:10px 0;text-align:center}

/**DOWNLOAD SACH**/
#download{margin-top:20px;padding:0 10px}
#download li{list-style:none;padding:10px 10px 0 10px}
#download p{padding:10px}
