﻿/* CSS Document */
body {background: #fff;font-family: arial, sans-serif; color: #3c3c3c; font-size: 12px;}
h1,h2,h3 {font-size: 13px;}
img {max-width: 100%;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
a{text-decoration: none;}
.clearfix, .clear{overflow:hidden;clear:both;}
.visible-xs-block,.visible-sm-block,.visible-md-block,.visible-lg-block {display: none;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}
.wrapper{width:1000px;margin:0 auto;}
.fl{float:left}
.fr{float:right}
.main_content{ padding: 0 10px; line-height: 18px;}
.error{color: red; margin-bottom: 3px; font-style: italic;}
.fancybox-opened .fancybox-skin {box-shadow: none !important;}
/** PAGING **/
.paging_first{background: url("../images/first_button.png") no-repeat;}
.paging_next{background: url("../images/next_button.png") no-repeat;}
.paging_prev{background: url("../images/prev_button.png") no-repeat;}
.paging_last{background: url("../images/last_button.png") no-repeat;}
.paging_first, .paging_next, .paging_prev, .paging_last{float: left; width: 33px; margin-right: 5px; height: 20px;}
.paging{clear: both; height: 20px; margin-top: 10px;}
/** RESET UL **/
#menutop, #menuleft, .menuchild, #speaking_list ul, #speaking_answer ul {list-style: none; margin: 0; padding: 0;}
#menutop li, #menuleft li, #speaking_list li {list-style: none; padding: 0;}
#menutop .nav {margin: 0; padding: 0; margin-left: 5px;}
/** PAGING **/
#paging{margin: 10px 0;padding: 3px 0;text-align: right;}
#paging span, #paging a{border:solid 1px #ddd;color:#949494;padding:0 7px;display:inline-block; line-height:22px;text-align:center;margin:0 3px 0 0;-moz-border-radius:2px; -webkit-border-radius:2px;-khtml-border-radius:2px;border-radius:2px;}
#paging a:hover, #paging span.active, #paging span.paging_current {background: none repeat scroll 0 0 #F0F5F8;border: 1px solid #A8D1E0;color: #000000;}
/*LOGIN*/
#logins{width: 100%;height: 32px;text-align: right;}
.login{height: 32px;width: 100%;float: right;margin-top: 10px;font-weight: bold;}
.login a{text-decoration: none;color: black;font-weight: bold;}

.button_new {background: #b00000  ;border-color: #DDDDDD; font-size: 12px;height: 29px;line-height: 29px;width: 86px; border-radius: 2px 2px 2px 2px;border-style: solid;border-width: 1px;color: white;cursor: pointer;font-weight: bold;text-align: center;}
/**HEADER**/
#header{height:102px}
#header .logo{width:262px;}
#header .logo img	{margin:10px 0 0 5px}
#header .slogan{width:484px;text-align:center;margin-top: 24px;}
#header .slogan p{margin-top:40px}
#header .frmsearch{width:254px; position: relative; height: 95px;}
#header .frmsearch input{width:150px;height:18px;border:1px #8f8f8f solid;background:#e4e4e4;vertical-align:middle;margin-top:30px;margin-left: 20px;}
#header .frmsearch button{width:70px;height:22px;background:transparent url('../images/bgEnglish.png') no-repeat scroll -1px -1px;border:0;vertical-align:middle;margin-top:30px;cursor:pointer}
#header .formseach {position: absolute; bottom: 0; right: 0;}
/**TOP SERVICE**/
#top_service{background:green;margin-bottom:10px}
.topposition {margin-bottom: 10px;}
/**CONTENT LEFT**/
#cl_left{background:transparent url('../images/bgleft.jpg') repeat-y;}
#cl_left a{color: #1B1919;}
#cl_left .topleft{background:transparent url('../images/bg_topcontent.jpg') no-repeat;height:3px}
#cl_left .endleft{background:transparent url('../images/bottom_bg.jpg') no-repeat;height:3px}
#cl_left .twocolum {border-top: 1px solid #BBBBBB;}
#cl_left .border_right {border-right: 1px solid #BBBBBB;}

#news_cate_right .list_news{text-align:justify;}
#news_cate_right .list_news ul{padding: 0; margin: 5px 8px 0 4px;}
#news_cate_right .list_news li img{width: 70px; margin-right: 7px; float: left;}
#news_cate_right .list_news li{list-style:none;border-bottom:1px #000 dotted; margin-bottom: 10px; padding-bottom: 10px;}

#cl_left1{width:166px;padding-left:22px;}
#cl_left1 .title{background:transparent url('../images/bgEnglish.png') no-repeat scroll -77px -1px;height:41px;position:relative;left:-22px;color:#fff;line-height:35px;padding-left:20px; width: 100%;}
#cl_left1 .title a {font-weight: bold; color:#fff;line-height:35px}

#cl_left2 .mod_title {font-weight: bold; font-family: tahoma; font-size: 15px; color: Green;}
#cl_left2 .line {height: 5px; background: url("../images/bg/line_bg.gif") repeat-x; margin: 11px 0;}

#cl_left1 #support{margin-top:10px}
#cl_left1 #support li{list-style:none;margin:10px 0}
#cl_left1 #static{margin-top:10px}
#cl_left1 #static .statistic{height:28px;background:transparent url('../images/bgEnglish.png') no-repeat scroll -1px -45px;color:#fff;line-height:28px; padding-left: 10px;}
#cl_left1 #static .count{background:transparent url('../images/bgstatis.jpg') repeat-y;}
#cl_left1 #static .count p{color:#e6e6e6;line-height:24px;margin-left:10px}

#cl_left2{width:555px;padding-left:50px;display:inline;}
#cl_left2 .title{margin-bottom: 10px; color: Green; font-size: 15px; font-weight: bold; font-family:  tahoma;}
#share{text-align:right;padding:10px 0}

#cl_left2 .content {padding: 10px;}
.layout3c{background: url('../images/border_center.png') repeat-y scroll 791px 100%;}

/**CONTENT RIGHT**/
#cl_right{width:192px;margin:0 4px 0 10px;background:#e3e3e3;}
#cl_right  a{color:#1b1919;text-decoration:none; font-weight: normal;}
#cl_right h2 {margin: 0;}
#cl_right a:hover{color:#aa0000}
#cl_right .title{height:40px;background:transparent url('../images/bgEnglish.png') no-repeat scroll -1px -75px;line-height:35px;color:#fff;padding-left:10px}
#top_excell{margin-bottom:10px}
#top_excell  table{border:1px #000 solid; border-collapse: collapse;}
#top_excell .bgtitle{text-align:center;background:#3a3a3a;color:#fff;font-size:12px}
/**FOOTER**/
#bottom{background:#e6e6e6;text-align:center;color:#736f6f;padding-top:3px;padding-bottom: 8px;}
#popup{ background-color: #000; opacity: 0.8; position: fixed; top: 0px; left: 0px; z-index: 500; width: 100%; }
.media,.result{overflow: auto;}
.popup_image{position: absolute; z-index: 550; width: 100%; top: 0; width: 852px;}
#support ul{padding: 0;}
/******  ******/

/***** MENU TOP *****/
#menutop {background: url("../images/bgmenu.jpg") repeat-x scroll 0 0 transparent;font-size: 12px; float: left; width: 100%}
#menutop .ulmenu1 {float: left; width: 100%; padding: 0; margin: 0; height: 40px;}
#menutop .link1 {color: #FFFFFF;display: block;font-weight: bold;line-height: 35px;text-decoration: none;white-space: nowrap;}
#menutop .menuchild {background:none repeat scroll 0 0 black;border-radius:5px 5px 5px 5px;display:none;height:auto;opacity:0.8;padding-left:5px;position:absolute;width:225px;z-index:200;}
#menutop .menuchild li {height: 30px; }
#menutop .menuchild a{color:#FFFFFF;display:block;font-weight:bold;line-height:35px;padding:0 10px;text-decoration:none;white-space:nowrap;}
#menutop .level2 a:hover {color: #FF0000;}

#menutop .level1 {float: left; position: relative; padding-left: 9px; margin-right: 9px;}
#menutop .selected, #menutop .level1:hover{margin-right: 0;}
#menutop .level1:hover .menuchild {display: block;}
#menutop .selected, #menutop .level1:hover{background:url( "../images/hover.gif ") repeat scroll 0 0 transparent;color:#FFFFFF;cursor:pointer;}
#menutop .selected div, #menutop .level1:hover div{background:url( "../images/hover.gif ") repeat scroll right top transparent;cursor:pointer;display:block; padding-right: 9px;}


/**MENU LEFT**/
#menuleft{width:166px;}
#menuleft ul{padding: 0;}
#menuleft li{list-style:none;padding:5px 10px 5px 0;}
#menuleft li span{background:transparent url('../images/icon1.png') no-repeat scroll 3px 8px;	padding: 5px 17px;height:25px;}
#menuleft .menuchild li{border-bottom:1px #000 dotted;}
#menuleft li span a {font-weight: bold;}
#menuleft li a{color:#000;text-decoration:none;}
#menuleft li a:hover{color:#043caf}

#menuleft .level3 {display: none;}
#menuleft .level3  li{list-style:none;padding:0 0 0 27px;background:transparent url('../images/icon2.png') no-repeat scroll 15px 9px;margin-top: 6px;border-bottom:0}
#menuleft .level2{margin-top: 5px;}
#menuleft .level3 li a{color:#606060}
#menuleft .level3 li a:hover,#menuleft li .ticked a{color:#ac0000}
/**MENU BOTTOM**/
#menufooter {margin-top: 10px; padding-bottom: 15px;}
#menufooter {padding-top:10px;text-align:center}
#menufooter li{list-style:none;display:inline;text-align:center;padding:0 15px; float: left;}
#menufooter a{color:#000;text-decoration:none; font-weight: bold;}
#menufooter a:hover{text-decoration:underline}

#footer {background: none repeat scroll 0% 0% rgb(238, 238, 238); margin-top: 10px; border-top: 2px solid rgb(145, 1, 0); padding-bottom: 15px;}

#static_footer {padding: 0 10px;}
#static_footer .chinhanh div {border-radius: 5px; border: 1px solid #c62727; padding: 7px 15px; width: 200px; text-align: center; margin: 0 auto 15px}
#static_footer .contact {font-weight: bold; text-align: center; margin-top: 20px; clear: both; overflow: hidden;}
/*SLIDE**/
/*
.kwicks {list-style: none;position: relative;margin: 0;padding: 0;width: 1000px !important;}
.kwicks li{display: block;overflow: hidden;padding: 0;cursor: pointer;float: left;margin-right: 0px;background-repeat:no-repeat;}
.kwicks a{display:block;text-indent:-9999px;outline:none; width: 170px;height: 230px;}
.kwicks .active a{width: 100%;}
#kwick1 {background-position:0px 0px;background: url(../images/aboutme-xong.jpg);height: 230px;}
#kwick2 {background-position:-200px 0px;background: url(../images/chiasekinhnghiem-xong.jpg);height: 230px;}
#kwick3 {background-position:-400px 0px;background: url(../images/luyentap-xong.jpg);height: 230px;}
#kwick4 {background-position:-600px 0px;background: url(../images/kiemtratrinhdo-xong.jpg);height: 230px;}
#kwick5 {background-position:-600px 0px;background: url(../images/hocsinhcuatoi-xong.jpg);height: 230px;}
#kwick6 {background-position:-600px 0px;background: url(../images/enlishconner-xong.jpg);height: 230px;}
#kwick1 a{background-repeat:no-repeat;background-position: left 0px;}
#kwick1 a:hover{background-position: left -80px;} */

/********* USERS **********/
#quick_login td {height: 30px;}
#quick_login td input[type="text"],#quick_login td input[type="password"] {height: 20px; width: 160px; border: 1px solid #DDDDDD; font-size: 13px;}
#quick_login td.label {font-weight: bold; width: 100px;}

/**NEW DETAIL**/
#news_detail .description{font-weight: bold; margin-bottom: 6px;}
#news_detail .content_detail{text-align:justify;padding:10px}
#news_detail a{color:#1e1c1d;text-decoration:none;}
#news_detail a:hover{color:#bc0007}
#news_detail .tags {background: #EEEEEE; padding: 5px; margin-top: 10px;}
#news_detail .detail_viewmore {background: #bc0007; padding: 5px 0; text-align: center; color: #fff; font-weight: bold; cursor: pointer;}

#news_relate .title{background:url( "../images/bgtitle_cen.jpg ") repeat-x scroll 0 0 transparent;color:Green;font-family:tahoma;font-size:15px;font-weight:bold;margin-bottom:10px;padding-left:10px;padding-top:10px;}

#share .share_social {float: right; list-style: none;}
#share .share_social li {float: left; margin-left: 10px;}
#share .share_social span {float: left;}
/**COL RIGHT COMMENT**/
#recent_cm{line-height:20px;margin-top:10px}
#recent_cm .comment ul{margin:0 0 10px 10px}
#recent_cm .comment li{list-style:none;background:transparent url('../images/icon1.png') no-repeat scroll 3px 11px;	padding: 5px 10px 0 17px;}
/**FORM COMMENT**/
#comment{margin:0 10px}
#comment .comment_box{border-bottom:1px #787878 solid;border-right:1px #787878 solid;border-left:1px #787878 solid;padding-bottom:10px}
#comment .item_cm{padding:10px 10px 0 10px}
#comment .textarea_cm{border:1px silver  solid;width:422px;height:100px}
#comment button{width:60px;height:26px;text-align:center}
#comment .title_cm{background:transparent url('../images/tt_comment.jpg') no-repeat;height:24px;line-height:24px;color:#fff;padding-left:30px;}
.fb_edge_widget_with_comment{width: 111px;}
.counts{width: 80px;float: right;font-weight: bold;}
/**NEW OTHER**/
#news_other{margin:10px 10px 10px 10px}
#news_other ul{padding-left: 10px;}
#news_other li{list-style:none;margin:5px 10px 0 10px;background:transparent url('../images/icon2.png') no-repeat scroll 0 9px;padding-left:10px}
#news_other h2{color:#bc0007;text-transform:uppercase}
/*NEW LIST*/
#news_other .item{margin: 10px 0;}
.img_news{width: 100px;margin-right:10px;float: left;}
/** NEWS RELATE **/
#news_relate {margin-top: 10px;}
#news_relate .back{ float: right; margin-right: 10px;}
#news_relate li{list-style:none;line-height:25px}
#news_relate li a{color: #111111;}
#news_relate li a:hover{color: maroon;}
/** NEWS LIST**/
#news_lists .name a{font-weight: bold; color: maroon;}
#news_lists .item{border-bottom: 1px dotted #DDDDDD; padding-bottom: 5px; margin-bottom: 5px;}
#news_lists .description a{font-weight: bold; color: maroon;}

#news_thumb .item {float: left; width: 160px; margin-left: 18px; margin-bottom: 10px; height: 165px;}
#news_thumb .video_img {height: 130px; overflow: hidden; margin-bottom: 10px; position: relative;}
#news_thumb .first {margin-left: 0;}
#news_thumb .video_title {text-align: center; font-weight: bold;}
#news_thumb .videoicon{background:url( "../images/imgplay.png ") repeat scroll 0 0 transparent;cursor:pointer;height:68px;left:55px;position:absolute;top:40px;width:67px;z-index:1;}
/**REGISTER**/
#register .title2{background:transparent url('../images/tt_register.jpg') no-repeat;height:24px;line-height:20px;color:#fff;padding-left:30px}
#register .box_register .form_item{min-height: 25px;  padding-bottom: 10px;}
.form_item input {float: left;}
#register .box_register span{width:150px;float:left}
#register .box_register .register_input{width:246px; -moz-border-radius: 3px; border-radius: 3px;border:1px #ad0000 solid}
#register .login .ext_login {padding-left: 150px;}
#register .login .ext_login a {font-style: italic; text-decoration: underline;}

#register .social {padding-top: 15px; text-align: center;}
#register .facebook_login {text-indent:-9999px; margin-right: 10px; background: url("../images/icon_social.png") no-repeat; height: 29px; width: 110px; display: inline-block;}
#register .google_login {text-indent:-9999px;background: url("../images/icon_social.png") scroll bottom no-repeat; height: 28px; width: 110px; display: inline-block;}

.user_lists {width: 100%; border: 1px solid #DDDDDD;}
.user_lists th{text-align: center; font-weight: bold; background: #990000; color: #FFF; padding: 3px; border: 1px solid #DDDDDD;}
.user_lists td {border: 1px solid #DDDDDD; padding: 4px;}

#update_missing .desc {margin-bottom: 10px; font-style: italic;}
#update_missing td {padding: 5px;}
#update_missing button {margin-top: 10px;}

#login{overflow:hidden;padding:10px 10px 10px 20px;line-height:20px; }
.frmlogin{margin-left: 100px}
.frmlogin .lgtitle{height:23px;background:transparent url('../images/bgEnglish.png') no-repeat scroll -1px -115px;margin-left:70px;color:#fff; width: 153px; text-align: center;}
.frmlogin .title p{}
.boxlogin{width:280px;border:2px #bc0007 solid; }
.boxlogin .form_item{margin:5px 5px; height: 25px;}
.boxlogin span{width:80px;float:left;}
.boxlogin a{text-align:center;color:#635d5d}

#videodetail {padding-bottom: 20px; border-bottom: 1px solid #DDDDDD; margin-bottom: 20px; width: 525px;}
#videodetail h1 {margin: 15px 0; font-size: 15px; font-family: tahoma;}
#menu_video ul {list-style: none; padding: 0; background: #EEEEEE;}
#menu_video li{height: 30px; border-bottom: 1px solid #DDDDDD; padding-left: 20px;}
#menu_video li a {font-weight: bold; line-height: 31px; color: #666666;}

#advertise_top ul{display:block;list-style-type:none;list-style:none;position:relative;margin:0;padding:0;}
#advertise_top ul >*{display:block;overflow:hidden;padding:0;margin:0;}
#advertise_top .kwicks-processed >*{margin:0;position:absolute;}
#advertise_top ul >*{float:left;}
#advertise_top ul >:first-child{margin-left:0;}
#advertise_top ul >:first-child{margin-top:0;}
#advertise_top ul {width: 100%;height: 230px;}
#advertise_top ul > li {height: 230px;/* overridden by kwicks but good for when JavaScript is disabled */width: 500px;margin-left: 5px;float: left;}
#advertise_top ul > li img {max-width: none;}
#advertise_top {height: 230px; overflow: hidden; width: 100%; float: left;}

#divAdLeft, #divAdRight {width: 130px; position: fixed; top: 80px; display: none;}

/************************ PRACTICE ****************/
/**PRACTICE**/
#practice table {border:0}
#practice .div_display{width:314px;margin-top:10px}
.practice_bt{margin-top:10px}
.bt_pr{background:transparent url('../images/bg_button.png') no-repeat;width:91px;height:21px;border:0;font-weight:bold;font-size:11px;margin-right:5px;cursor:pointer}
#practice .div_text{width:215px;margin-top:10px;padding-left:5px;line-height:20px;display:inline}
#practice .item{margin-bottom: 10px;}
#practice .content {background: #FFFCCC; margin-top: 15px;}
.score{color:#f00202; font-weight: bold; float: right; background: #FFF; padding: 5px 10px; display: none;}
.answer_status{display: inline-block; margin-right: 2px; width: 20px; height: 12px; margin-top: 3px;}

#fulltest_form .full_nav{margin-top: 10px; text-align: center;}

/**MORE PRACTICE**/
#more_pactice{margin-top:20px;padding-left:10px}
#more_pactice ul{margin-top:10px; padding-left: 20px;}
#more_pactice li{width:220px;display:inline;float:left;padding:2px 10px}
#more_pactice a{font-weight: bold;color:#010101}
#more_pactice a:hover{color:#003cff}
/**PRACTICE ANSWER**/
#answer{padding-left:10px;background:#fefccb}
#practice .content_test{margin-top:20px;}
.bg_yellow{background:#fefccb}
#practice .check{width:20px;}
#practice .answer_box{margin-top:5px}
/**TEST**/
#test{margin-top:20px;}
#test .sumtime{height:19px}
#test .div_display{margin-top:10px}
#test .ques_num, .time_count, .time_total{background:transparent url('../images/bgEnglish.png') no-repeat scroll -155px -116px;width:128px;height:19px;text-align:center;font-size:11px;margin-right:20px}
#test .bgtop{background:transparent url('../images/bg_top_test.jpg') no-repeat;width:555px;height:17px}
#test .bgbottom{background:transparent url('../images/bg_bt_test.jpg') no-repeat;width:555px;height:17px}
#test .bgcen{background:transparent url('../images/bg_cen_test.jpg') repeat-y;width:555px;}
#test .content_test{width:326px;padding:0 10px}
#test .content_answer{width:159px;overflow:scroll;margin-left:25px;padding-left:10px;font-size:11px;padding-bottom:10px;height:800px}
#test .content_answer li{list-style:none;display:inline}
#test .div_answer{margin-top:10px}
#test .div_answer li{list-style:none;}

#class_test_tab {list-style: none; padding: 0; margin: 0; border-radius: 6px; behavior: url(PIE.htc); background: #333; margin-bottom: 15px; float: left;}
#class_test_tab li {float: left; width: 175px; padding: 5px 0; text-align: center;}
#class_test_tab li a {color: #fff; font-weight: bold;}
#class_test_tab li.active {background: Green; color: #FFF; font-weight: bold;}
/********************************************** NAM ***********/
#cate_test .testing_title{margin-bottom: 5px;}
#cate_test .testing_title a{font-weight: bold;}
#cate_test .testing_title a:hover{color: maroon;}
/******************************************************/
#test_random .quest_content, #test_list .quest_content{font-weight: bold; margin-bottom: 10px;}
#test_random .div_text{padding: 10px; margin-top: 10px;}
#test_random .media_bt {margin-right: 10px;}
#test_random .answer_content,#test_list .answer_content {display: none;}
#test_random .result {background: #FFFCCC;}
#test_random .div_img { margin-bottom: 10px;}
#test_random .media_bt {width: 200px; margin: 0 auto;}
#test_list .question_detail{margin-bottom: 10px;}
#test_list .div_text{margin-bottom: 10px; padding: 5px;}
#test_list .chan {background: #D4DFFF;}
#test_list .audio{margin: 7px 0;}
#test_list .answer_explain{background: #FFFCCC; padding: 10px; margin-top: 10px;}
#test_list .reading_description{background: #FFFCCC; padding: 10px; margin-bottom: 10px;}

/******************** FULL TEST **********/
.fulltest{
    background: url("../images/bgleft2.jpg") repeat-y scroll 0px 5px transparent;
    width: 1000px;
}
#table_test{position: absolute; z-index: 550; width: 852px;  top: 0; left: 0;}
#table_test .table_bg {background: url("../images/fulltest_bg.jpg") no-repeat; width: 100%; height: 586px;}
#table_test .table-left {width: 540px; float: left; margin-left: 15px; margin-top: 15px; height: 558px; overflow-y: scroll;}
#table_test .table-right {width: 255px; float: right; margin-right: 10px; margin-top: 15px; height: 558px; 	overflow-y: scroll;}

#table_test .result{margin-left: 5px; margin-right: 10px; padding-right: 10px;}
#table_test .result_hide{background: #FFFCCC; padding: 10px; margin-bottom: 10px; display: none;}
#table_test .result_show{padding: 0; margin-bottom: 10px; padding-top: 0;}
#table_test .div_display{margin-bottom: 10px;}
#table_test .ansselected{background: #FFFFCC;}
#table_test .quest_content{font-weight: bold; margin: 10px 10px 10px 0px;}
#table_test .media_bt {margin: 7px 0;}
#table_test .div_text {padding: 10px 10px 0 10px;}
#table_test .reading_description {margin-left: 10px;}
#table_test .chan {background: #D4DFFF;}
#table_test .button {margin-top: 10px;}
#table_test .button-left {float: left;}
#table_test .button-right {float: right;}
.display_time_out{height: 25px;}
#show_count_down{ background: #FFFF80; height: 25px; width: 170px; line-height: 25px; text-align: center;}
#show_part{background: #FFFF80; height: 25px; width: 400px; line-height: 25px; text-align: center; }
#show_part a{font-weight: bold; margin: 0 5px;}
.close_fulltest{height: 25px; position: absolute; right: 0px; top: 0; z-index: 550; cursor: pointer;}
.close_fulltest img {height: 100%;}
#test_writing .answer{width: 300px;}
#test_writing .left{width: 210px;}
#test_writing textarea{width: 99%; height: 90px; overflow-y: auto;}
#test_writing .show_answer{overflow-y: auto; height: 140px; margin-top: 10px; border: 1px solid #999999; padding: 5px;}

/****** STATIC *********/
#popup, .opacity{ background-color: #000; opacity: 0.8; position: fixed; top: 0px; left: 0px; z-index: 500; width: 100%; height: 100%;}
/* #popup_moi {position: fixed; top: 0px; left: 0px; z-index: 550; width: 100%; height: 100%;}
#popup_moi .image {z-index: 600; margin: 0 auto; width: 600px; position: relative; margin-top: 50px;}*/
.close_icon {background: url("../images/close_popup_icon.png") no-repeat scroll 100% 0; cursor: pointer; height: 32px;}
.media,.result{overflow: auto;}
.popup_image{position: fixed; z-index: 550; width: 100%; top: 0; width: 852px;}
/* #popup_moi .content {background: #FFF;} */
/***** CORSE ************/
#word_title {margin-bottom: 10px;}
#word_title ul {list-style: none; padding: 0; margin: 0;}
#word_title li {float: left; width: 250px; text-align: center; color: #FFF; font-weight: 700; line-height: 30px; cursor: pointer; border-right: 1px solid #EEEEEE;}
/* #word_title li:hover, #word_title li.active {background: #000;} */
#word_title li.end {border: none;}
#word_title .lam_quen {background: url("../images/bg/green_bg.jpg") repeat-x;}
#word_title .ghi_nho {background: url("../images/bg/blue_bg.jpg") repeat-x;}
#word_title .thuoc_long {background: url("../images/bg/dc_bg.jpg") repeat-x;}
/**************************************/
#word_list ul {list-style: none; padding: 0; margin: 0;}
#word_list .left {width: 340px; float: left;}
#word_list .right {float: right; margin-right: 10px; width: 350px; box-shadow: 0 0 8px 1px #B7B7B7; padding: 6px;}
#word_list .left li {float: left; width: 100px; height: 100px; text-align: center; display: table-cell; vertical-align: middle; margin-right: 10px;}
#word_list .left li img {border: 1px solid #E6E6E6;cursor: pointer; padding: 3px; max-height: 90px; max-width: 90px;}
#word_list .left li img.active {border: 2px solid #646464;}

#word_list .right .item img {max-width: 350px; max-height: 350px;}
#word_list .img-caption {background-color: #000000;color: #FFFFFF;font-size: 22px;font-weight: 700;height: 40px;line-height: 35px;}

#word_list .item {min-height: 310px;}
#word_list .image {text-align: center; cursor: pointer;}

#word_list .tool {margin-top: 10px;}
#word_list .tool div{float: right; cursor: pointer; height: 30px; margin-left: 2px;}
#word_list .translate {margin: 0 10px;}
#word_list .play {background: url("../images/icons/flashcard-recording-buttonlist.png") no-repeat scroll -46px 5px transparent;width: 25px;}
#word_list .stop {background: url("../images/icons/flashcard-recording-buttonlist.png") no-repeat scroll 7px 5px transparent;width: 25px;}
#word_list .split {background: url("../images/icons/button-list.png") no-repeat scroll -139px 0 transparent;width: 12px;}
#word_list .speaker {background: url("../images/icons/button-list.png") no-repeat scroll -100px 50% transparent;width: 34px;}
#word_list .flip-card {background: url("../images/icons/button-list.png") no-repeat scroll -69px 0 transparent;width: 32px;}
#word_list .btn-next {background: url("../images/icons/button-list.png") no-repeat scroll -22px 0 transparent;width: 32px;}
#word_list .btn-prev {background: url("../images/icons/button-list.png") no-repeat scroll 4px 0 transparent;width: 32px;}
#word_list .title-flip-outer {font-size: 28px;font-weight: 700;text-align: center; margin-top: 15px;}
#word_list .word-phonetic {font-size: 16px;margin-top: 7px; text-align: center;}
#word_list .vietnamese-meaning {color: #F5750C; font-size: 16px;font-weight: 700;margin-top: 15px;}
#word_list .subject {color: #548DD4;font-weight: 700;margin-top: 20px;text-align: left;}
#word_list .example {margin-top: 15px;}

#word_list .record {background: url("../images/icons/flashcard-recording-buttonlist.png") no-repeat scroll -121px 5px transparent; width: 25px;}
#word_list .record:hover, #word_list .record_active{background: url("../images/icons/flashcard-recording-buttonlist.png") no-repeat scroll -142px 5px }
#word_list .record_popup {position: fixed; z-index: 9; right: 0; top: 0; height: 100px; width: 300px; background: #333333; color: #FFF; padding-left: 10px;}


#word_list .stop_active {background: url("../images/icons/flashcard-recording-buttonlist.png") no-repeat scroll -22px 5px transparent;}
#word_list .play_active {background: url("../images/icons/flashcard-recording-buttonlist.png") no-repeat scroll -72px 5px transparent;}


#audiorecorder, #flashrecarea{width: 100%; height: 100%; position: fixed;}
/*********************** DROP   **************************/
#word_drop .left {float: left; margin-left: 15px; width: 220px; min-height: 150px;}
#word_drop .right {float: right; width: 490px;}
#word_drop .left .word_item{margin-top: 10px; font-size: 17px;line-height: 22px; cursor: move;}
#word_drop .word_drop {float: left; width: 150px; margin-left: 13px; position: relative; }
#word_drop .word_drop img {max-width: 150px; max-height: 120px;}
#word_drop .hover {opacity: 0.8;}
#word_drop .right .word_item { background: #151515;height: 40px;opacity: 0.82;position: absolute; bottom: 0px; text-align: center;width: 150px;z-index: 10; font-size: 22px;font-weight: 700;line-height: 35px; color: #FFF;}
#word_drop .ui-draggable-dragging {color: red; background: none; color: #008FD6;font-size: 24px;line-height: 23px;}
#word_drop .result-background {background-color: #000000;opacity: 0.4; position: absolute; width: 100%; height: 100%; z-index: 3;}
#word_drop .result_img {width: 100%; text-align: center; position: absolute; z-index: 2; top: 7px;}
#word_drop .result_img img {width: 70px;}
/*********************** RETYPE   **************************/
#retype .left {width: 200px; float: left; margin-top: 10px;}
#retype .right {width: 450px; float: right; margin-top: 10px;}
#retype .result-title-bar {color: #FFFFFF;font-size: 20px;height: 40px;line-height: 40px;padding-left: 20px; background: -moz-linear-gradient(center top , #EF883E 4%, #F46E00 100%) repeat scroll 0 0 transparent; font-weight: 700;}
#retype .remain, #retype .correct, #retype .incorrect {border-bottom: 1px solid #EAEAEA;color: #000000;height: 28px;padding: 20px; font-weight: 700;}
#retype .img-wrapper {position: relative; width: 364px;}
#retype .img-wrapper .img-main {border: 7px solid #FFFFFF;box-shadow: 0 0 7px 2px #BFBFBF;display: none;min-width: 250px;}
#retype .user-input {background-color: #E8E8E8;height: 38px;margin-top: 25px;padding: 14px; width: 340px; position: relative;}
#retype .user-input .textbox {border: 1px solid #E0E0E0;box-shadow: 0 16px 30px -21px #D9D9D9 inset;font-family: 'Segoe UI';font-size: 22px;height: 35px;position: relative;text-align: center; width: 290px;}
#retype .listen-again {background: url("../images/icons/flashcard-tab3-listenagain.png") no-repeat scroll center center transparent;cursor: pointer;height: 37px;margin-left: 7px;margin-top: 1px;position: relative;width: 36px; float: right;}
#retype .show-answer {background: url("../images/icons/flashcard-help-tab3.png") no-repeat scroll center center transparent;border-radius: 10px 10px 10px 10px;cursor: pointer;height: 32px;position: absolute;right: -38px;top: 14px;width: 32px;}
#retype_next {margin-right: 280px;}

#retype .remain .number, #retype .correct .number, #retype .incorrect .number {font-size: 28px;margin-top: 6px; float: right;}
#retype .remain .number {color: #0070C0;}
#retype .correct .number {color: #00B050;}
#retype .incorrect .number {color: #C00000;}
#retype .text {float: left;line-height: 30px;}
#retype .answer_help {background: #151515;height: 55px;opacity: 0.82;position: absolute; bottom: 0px; text-align: center;z-index: 1; font-size: 26px;font-weight: 700;line-height: 47px; color: #FFF; width: 100%; display: none}
#retype .answer_result {background-color: #000000;opacity: 0.4; position: absolute; width: 100%; height: 100%; z-index: 3; top: 0; text-align: center; display: none;}
#retype .type_correct,#retype  .type_incorrect {margin-top: 60px;}
/*********************** COMMON **************************/
#word_drop .submit, #retype .submit, #course_complete .submit{border-top: 1px solid #E6E6E6; padding-top: 20px; margin-top: 20px;}
#word_drop .global-button-green-1, #retype .global-button-green-1, #course_complete .global-button-green-1{background: #F5750B  ;border-color: #F5750B; font-size: 12px;height: 29px;line-height: 29px;width: 86px; border-radius: 2px 2px 2px 2px;border-style: solid;border-width: 1px;color: white;cursor: pointer;font-weight: bold;text-align: center; float: right; margin-left: 15px;}
.global-activity-guide {background: url("../images/icons/down-arrow-pointer.png") no-repeat;height: 20px; margin-bottom: 25px; padding-left: 30px;}
.global-activity-guide .text {border-bottom: 1px solid #E6E6E6; padding-bottom: 10px;}
.recorderFlashContainer {display: none;}
/*************************** COMPLETE ********************************/
#course_complete .wccontent{margin-bottom: 10px;}
#course_complete .images {float: left; width: 200px; margin-right: 15px;}
#course_complete .question {margin-bottom: 10px; border-bottom: 1px solid #DEDEDE; padding-bottom: 15px; font-size: 13px; font-weight: 700;}
#course_complete .question input {width: 100px; margin: 0 7px; border: 1px solid #DDDDDD; background: #FFF7CC; padding: 3px 5px;}
#course_complete .player {float: left; width: 500px;}
#course_complete .pagingcomplete {float: right;}

#pagingjs .inactive-button {border: 1px solid #DBDBDB;box-shadow: 0 20px 32px -22px #DBDBDB inset;height: 26px;line-height: 26px;width: 26px; cursor: pointer;display: inline-block;font-size: 14px;font-weight: bold;margin: 4px;text-align: center;}
#pagingjs .inactive-button:hover {background-color: #F9873A;border: 1px solid #FB802D;box-shadow: none !important;color: #FFFFFF;}
#pagingjs .selected {background-color: #199FDA;color: #FFFFFF;height: 28px;line-height: 28px;width: 28px;}
/** COMMON BORDER **/
.cp_border_top,#word_list .cp_border_top {background: url(../images/border/complete_top_border.gif) no-repeat; width: 759px; height: 17px;}
.cp_border_bottom, #word_list .cp_border_bottom {background: url(../images/border/complete_bottom_bg.gif) no-repeat; width: 759px; height: 19px;}
.cp_content, #word_list .cp_content{background: url(../images/border/complete_content_bg.jpg); width: 759px;}
.cp_padding , #word_list .cp_padding{padding: 10px 15px;}

/************************** TOPIC *********************/
#wordtopic ul {list-style: none; padding: 0; margin: 0; margin-bottom: 10px;}
#wordtopic li {float: left; text-align: left; border-radius: 6px; behavior: url(PIE.htc); padding: 5px 10px; margin-right: 10px; width: 200px; margin-bottom: 7px; border: 1px solid green;}
#wordtopic li:hover, #wordtopic .active {background: #EEEEEE;}

#speaking .opacity,#writing .opacity, #speaking_answer .opacity {opacity: 0.8; filter: alpha(opacity=80); background: #000000;  position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 2;}
#speaking, #writing, #speaking_answer {position: absolute; width: 100%; height: 100%;  top: 0; left: 0;}
/****************************** SPEAKING ******************************/
#countdown_area {position: absolute; bottom: 200px; width: 100%; left: 0; z-index: 10; bottom: 90px;}
#prepare_count_down {background: url("../images/bg/prepare.jpg"); width: 211px; height: 33px; margin: 0 auto; display: none; text-align: right;}
#response_count_down {background: url("../images/bg/response.jpg"); width: 213px; height: 33px; margin: 0 auto; display: none; text-align: right;}
#response_allow_down {background: url("../images/bg/allowtime.jpg"); width: 213px; height: 33px; margin: 0 auto; display: none; text-align: right;}
#countdown_area .countdown-amount  {font-size: 14px; font-weight: bold; line-height: 33px; margin-right: 15px;}
#speaking_list li a{line-height: 23px; font-weight: bold;}
#speaking_list ul {margin-left: 10px;}
#speaking_list .list_title {color: Green;}

#speaking #change_question {position: absolute; bottom: 32px; left: 315px; width: 152px; height: 19px;}
#speaking .next_speaking, #speaking .prev_speaking {position: absolute; cursor: pointer; height: 19px; width: 23px; position: absolute; }
#speaking .next_speaking {right: 0; background: url(../images/button/speaking_next.gif) no-repeat;}
#speaking .prev_speaking {left: 0; background: url(../images/button/speaking_prev.gif) no-repeat;}
#speaking .answer_form {margin-top: 15px;}
#speaking .detail {margin-bottom: 10px;}
#speaking .users_answer {font-weight: bold; font-size: 14px; font-style: italic; text-decoration: underline; color: #900;}
.repeat_sound {float: left; margin-right: 10px; font-weight: bold; cursor: pointer; color: #900;}
#speaking .sp_content {margin: 0 auto; width: 788px; height: 580px; margin-top: 20px; background: url("../images/bg/speaking_bg.jpg") no-repeat; position: relative; z-index: 3;}
#speaking .sp_content .sp_title{color: #0f467e; font-weight: bold; font-size: 16px; font-family: tahoma; position: absolute; top: 25px; left: 440px; position: relative;}
#speaking .question_content {width: 637px; height: 435px; margin: 0 auto; top: 63px; position: relative;}
#speaking .question {display: table-cell; vertical-align: middle; height: 435px; width: 100%; background: #FFF;}
#speaking .first_question {position: absolute; top: 0; left: 0; cursor: pointer; z-index: 2;}
#speaking .image {margin-bottom: 10px; text-align: center;}
#speaking .button_exit {position: absolute; bottom: 7px; right: 20px;}
#speaking .top_button {position: absolute; top: 0px; right: 29px;}
#speaking .sound_area {position: absolute; bottom: 27px; left: 344px; z-index: 11;}
#speaking .sound_area img {cursor: pointer;}
#speaking_userguide {width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
#speaking_userguide img {display: none;}
#speaking #preview_playing {position: absolute; bottom: 56px; left: 386px;}
#continue_button {cursor: pointer;}
#speaking .point_area {color: red;top:90px; font-size: 70px;font-weight: bold;position: absolute;right: 60px;}
#speaking .point_teacher {position: absolute; bottom: 13px; left: 190px; color: red; cursor: pointer; font-weight: bold;}
#speaking .writing_content {overflow-y: auto;}
/********************** SPEAKING ANSWER **************/
#speaking_answer .sp_content {margin: 0 auto; width: 790px; height: 583px; margin-top: 20px;  position: relative; z-index: 3;}
.speaking_answer .sp_content {background: url("../images/bg/speaking_answer_bg.jpg") no-repeat;}
.writing_answer .sp_content {background: url("../images/bg/answer_writing.jpg") no-repeat;}

#speaking_answer .question_content {width: 328px; height: 405px; top: 117px; left: 50px; position: absolute;}
#speaking_answer .sp_title { height: 30px; line-height: 30px; overflow: hidden;}
#speaking_answer .question {margin-top: 15px; overflow-y: auto; height: 350px;}
#speaking_answer .tabscript {float: right; margin-top: 5px; cursor: pointer;}
#speaking_answer .button_exit {position: absolute; bottom: 8px; right: 22px;}
#speaking_answer .question_number {position: absolute; top: 84px; left: 393px;}
#speaking_answer .question_number li {float: left; color: #3580b1; cursor: pointer; width: 31px; text-align: center;}
#speaking_answer .question_answer {position: absolute; top: 117px; width: ; left: 410px; width: 325px;}
#speaking_answer .answer_content {margin-top: 15px;  width: 100%; overflow-y: auto;}
#speaking_answer .sound_question, #speaking_answer .sound_answer {float: right; margin-top: 4px; position: absolute; right: 0; top: 0;}
#speaking_answer .question_number .selected {background: #1679cc; color: #FFF;}
#speaking_answer .tab_script {cursor: pointer; background: url("../images/button/tab_script_speaking.gif") no-repeat; width: 31px; height: 22px; float: left; margin-right: 10px;}
#speaking_answer .point_area {color: red;top:20px; font-size: 50px;font-weight: bold;position: absolute;right: 215px; }
#speaking_answer .point_teacher {position: absolute; bottom: 13px; left: 30px; color: red; cursor: pointer; font-weight: bold;}
#speaking_answer .viewcomment {color: red; font-weight: bold; font-size: 13px; cursor: pointer; position: absolute; top: 22px; right: 284px; }
#speaking_answer .total_point {position: absolute; font-weight: bold; bottom: 5px;  right: 360px;}
#speaking_answer .total_point span {color: red; font-size: 40px;}
/***************************** WRITING ***********************/
#writing .sp_content {margin: 0 auto; width: 789px; height: 583px; margin-top: 10px; background: url("../images/bg/writing.jpg") no-repeat; position: relative; z-index: 3;}
#writing .question_content {position: absolute; top: 80px; width: 700px; left: 50px; height: 445px;}
#writing .question {vertical-align: middle; height: 271px; width: 700px; background: #FFF; overflow-y: auto;}
#writing .answer_form {position: absolute; width: 100%; height: 97px; left: 0; bottom: 0px;}
#writing .answer_form textarea {width: 690px; height: 100%; padding: 0; margin: 0;}
#writing .sp_content .sp_title{color: #574c1f; font-weight: bold; font-size: 16px; font-family: tahoma; position: absolute; top: 28px; left: 397px;}

#writing .top_button {position: absolute; top: 1px; right: 50px; width: 70px; height: 50px;}
#writing .next_button, #writing .prev_button {position: absolute; cursor: pointer; height: 31px; width: 31px; position: absolute; }
#writing .next_button {right: 0; background: url(../images/button/writing_next.gif) no-repeat; }
#writing .prev_button {left: 0; background: url(../images/button/writing_prev.gif) no-repeat;}

#writing_countdown {position: absolute; left: 284px; bottom: 13px; cursor: pointer;}
/* #writing_count_down {background: url("../images/bg/wcounttime.gif"); text-align: center; height: 46px;} */
#writing_count_down {background: url("../images/bg/writing_count_down_bg.gif"); text-align: center; height: 19px; border: 2px solid #7fcbc9; float: left;}
#writing_countdown .count_down_hide {background: url("../images/bg/writing_count_down_bg.gif"); text-align: center; padding: 0px 10px; color: #FFF; font-weight: bold; float: right; height: 19px; border: 2px solid #7fcbc9; line-height: 18px;}

#writing_countdown .countdown_amount  {font-size: 13px; font-weight: bold; line-height: 21px; text-align: center; background: none; color: #FFF;}

#show_count_word {position: absolute; bottom: 14px; right: 230px;}
#writing .show_word {background: url("../images/bg/hide_word_count.gif"); width: 131px; height: 21px; overflow: hidden; cursor: pointer;}
#writing .show_word .txt {margin-right: 6px; font-weight: bold; text-align: right; line-height: 25px;}
#writing .show_word .showtxt {color: #FFF; margin-left: 3px; line-height: 20px; font-weight: bold; font-size: 11px;}
#writing .button_exit {position: absolute; bottom: 7px; right: 17px;}
#writing_userguide {position: absolute; top: 80px; background: #FFF; left: 36px; right: 63px; text-align: center; z-index: 3;}
#change_question {margin-top: 8px;}
#recorderFlashContainer {z-index: 999;}
#writing .first_question {position: absolute; top: 0; left: 0; z-index: 5; cursor: pointer;}
/**************** WRITING ANSWER ******************/
#speaking_answer .sp_title li {float: left; cursor: pointer; padding: 0 10px; background: #1679CC; margin-left: 5px; margin-top: 2px; color: #FFF;}
#speaking_answer .sp_title li.selected {background: #FFF; color: #111111;}
#speaking_answer .sp_title ul {float: right;}

#support_online {position: fixed; bottom: 0; right: 0; cursor: pointer; background: url("../images/support.png") scroll 0 100%; width: 230px; height: 202px;}
#support_facebook {position: fixed; top: 0; bottom: 0; right: 0; width: 510px; background: #FFF; border: 1px solid #DDDDDD; border-right: 0; z-index: 9; display: none;}
#support_facebook .support_close {text-align: right; padding: 10px; border-bottom: 1px solid #DDDDDD;}
#support_facebook .support_close img {cursor: pointer;}
#support_facebook .viewallsupport {float: left; display: inline-block; text-decoration: underline; color: #333333;}
#support_facebook .fb-comments, #support_facebook .fb-comments * {
    width:100% !important;
}
@media (max-width: 1199px) {
	#support_online {height: 40px;}
}