 

#quote-carousel { margin-top: 50px;
}

#quote-carousel .carousel-control.left {
    right: auto;
    left: 20px;
}
#quote-carousel .carousel-control.right {
    right: 55px;
    left: auto;
}

#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-indicators {
    position: relative;
    right: 50%;
	width: 80%;
    top: auto;
    bottom: 45px; 
	margin-left: -40%;
}
#quote-carousel .carousel-indicators li {
    width: 200px;
    height: 200px;
	margin: 0 -40px;
	position: relative;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    opacity: 0.8;
    transition: all .4s ease-in;
    vertical-align: middle;
	text-indent:0;
	z-index:1
}
#quote-carousel .carousel-indicators li img {
	 border-radius: 50%;
	-webkit-filter: grayscale(100%);
	-moz-filter:grayscale(100%);
	-ms-filter:grayscale(100%);
	-o-filter:grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: all 200ms ease-out;
       -moz-transition: all 200ms ease-out;
         -o-transition: all 200ms ease-out;
            transition: all 200ms ease-out;
	
}

#quote-carousel .carousel-indicators .active {
    width: 200px;
    height: 200px;
    opacity: 1;
	margin: 0;
	position:relative;
	background:none;
	z-index:2
	
}

#quote-carousel .carousel-indicators .active img {
    transition: all .2s;
	-webkit-filter:grayscale(0%);
    -moz-filter:grayscale(0%);
    -ms-filter:grayscale(0%);
    -o-filter:grayscale(0%);
    filter:grayscale(0%);	
	 border-radius: 50%;
}


#quote-carousel .item blockquote {
    border-left: none; font-size:14px; margin: 0;
}

#quote-carousel .item blockquote .bg-blockquote {  background:#FFDBDA ; position:relative; padding:20px 25px 15px 45px; overflow: hidden; text-align:justify;}

#quote-carousel .carousel-indicators .active:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: -45px;
    left: 38%;
    border-width: 0 22px 30px 22px;
    border-style: solid;
    border-color: rgba(255,219,219,1) transparent;
}

#quote-carousel .item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    color:#fff;
	font-size:20px; 
	position: absolute;
	top:15px;
	left:15px;
}
#quote-carousel .item blockquote small{ font-size:14px; float:right; text-align:center}
#quote-carousel .item blockquote small b{ font-size:16px; float:right}


@media only screen and (max-width: 979px) {
	#quote-carousel { margin-top:75px;}
    #quote-carousel .carousel-indicators li {
	width: 68px;
    height: 68px;	
	margin:0 -10px;	
	}
	#quote-carousel .carousel-indicators .active:before {
    border-width: 0 16px 20px 16px;
    border-style: solid;
    border-color: rgba(255,219,219,1) transparent;
}
	#quote-carousel .carousel-indicators .active {
    width: 150px;
    height: 150px;
    }
	 
	#quote-carousel .carousel-control.left {
    right: auto;
    left: 0px !important;
    }
	#quote-carousel .carousel-control.right {
		right: 35px !important;
		left: auto;
	} 
    .carousel-control .fa-angle-left, .carousel-control .fa-angle-right {  top:-7% !important;  }
}

@media only screen and (max-width: 479px) {
    #quote-carousel .carousel-indicators li {
	width: 50px;
    height: 50px;	
	margin:0 -10px;	
	}
	
	#quote-carousel .carousel-indicators .active {
    width: 140px;
    height: 140px;
    }



}



.carousel { position:relative; clear:both
}

.carousel-inner {  position:relative; width:100%; overflow:hidden

}

.carousel-inner>.item {
  position:relative;
  display:none;
  -webkit-transition:.6s ease-in-out left;
  -o-transition:.6s ease-in-out left;
  transition:.6s ease-in-out left;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  line-height:1;
}

.carousel-inner>.active,
.carousel-inner>.next,
.carousel-inner>.prev {
  display:block;
}

.carousel-inner>.active {
  left:0;
}

.carousel-inner>.next,
.carousel-inner>.prev {
  position:absolute;
  top:0;
  width:100%;
}

.carousel-inner>.next {
  left:100%;
}

.carousel-inner>.prev {
  left:-100%;
}

.carousel-inner>.next.left,
.carousel-inner>.prev.right {
  left:0;
}

.carousel-inner>.active.left {
  left:-100%;
}

.carousel-inner>.active.right {
  left:100%;
}

.carousel-control {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  width:8%;
  font-size:20px;
  color:#fff;
  text-align:center;
  text-shadow:0 1px 2px rgba(0,0,0,.6);
  filter:alpha(opacity=60);
  opacity:.6;
}

.carousel-control.left {
 /* background-image:-webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
  background-image:-o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
  background-image:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
  background-image:linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000',endColorstr='#00000000',GradientType=1);
  background-repeat:repeat-x;*/
}

.carousel-control.right {
  right:0;
  left:auto;
/*  background-image:-webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
  background-image:-o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
  background-image:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
  background-image:linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#80000000',GradientType=1);
  background-repeat:repeat-x;*/
}

.carousel-control:hover,
.carousel-control:focus {
  color:#fff;
  text-decoration:none;
  filter:alpha(opacity=90);
  outline:0;
  opacity:.9;
}

.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position:absolute;
  top:45%;
  z-index:5;
  display:inline-block;
}

.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left:50%; background:url(images/arr_prev.png) 0 0;
}

.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right:50%;background:url(images/arr_next.png) 0 0;

}

.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .fa-angle-left,
.carousel-control .fa-angle-right { 
  position:absolute;
  top:5%; font-size:22px; color:#999;
  z-index:5; line-height:1.6em; 
  width: 38px;
  height: 38px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: none;
    border: 2px solid #999;
  display:inline-block;
}
.carousel-control .fa-angle-left:hover,
.carousel-control .fa-angle-right:hover { color:#EA0000; border: 2px solid #EA0000; }



.carousel-control .icon-prev:before {
  content:'\f060';
}

.carousel-control .icon-next:before {
  content:'\f061';
}

.carousel-inright {
  position:absolute;
  z-index:15;
  list-style:none;
}

.carousel-inright li {
  display:inline-block;
  width:10px;
  height:10px;
  margin:1px;
  text-indent:-999px;
  cursor:pointer; 
  background-color:#999; 
  border-radius:10px;
}

.carousel-inright .active {
  width:12px;
  height:12px;
  margin:0;
  background-color:#090;
}

.carousel-indicators {
  position:absolute;
  z-index:15;
  bottom:10px;
  left:50%;
  width:60%;
  padding-left:0;
  margin-left:-30%;
  text-align:center;
  list-style:none;
}
.carousel-indicators li {
  display:inline-block;
  width:14px;
  height:14px;
  text-indent:-999px;
  cursor:pointer;
  background-color:#fff;
  border-radius:10px;
}

.carousel-indicators .active {
  width:14px;
  height:14px;
  margin:0;
  background-color:#00AC00;
}

.carousel-caption {
  position:absolute;
  right:15%;
  bottom:100px;
  left:10%;
  z-index:10;
  padding-top:20px;
  padding-bottom:20px;
  color:#fff; 
  text-shadow:0 1px 2px rgba(0,0,0,.6);
}

.carousel-caption .btn {
  text-shadow:none;
}

@media screen and (min-width:768px) and (max-width:1800px){
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width:58px;
    height:58px;
    font-size:30px;
  }
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev {
    margin-left:-15px;
  }
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next {
    margin-right:-15px;
  }
  .carousel-caption {
    right:20%;
    left:20%;
    padding-bottom:30px;
  }
 
  .carousel-inright { right:0; 
  }
}

@media screen and (min-width:480px) and (max-width:767px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width:55px;
    height:55px;
    margin-top:-15px;
    font-size:30px;
  }
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev {
    margin-left:-15px;
  }
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next {
    margin-right:-15px;
  }
  .carousel-caption {
    right:20%;
    left:20%;
    padding-bottom:30px;
  }
  .carousel-indicators { bottom:0;
	  left:50%;
	  width:60%;
	  padding-left:0;
	  margin-left:-30%;
	  text-align:center;
  }
  .carousel-inright { right:0; top:-30px; 
  }
}

@media screen and (min-width:320px) and (max-width:479px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width:30px;
    height:30px;
    margin-top:-15px;
    font-size:30px;
  }
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev {
    margin-left:-15px;
  }
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next {
    margin-right:-15px;
  }
  .carousel-caption {
    right:20%;
    left:20%;
    padding-bottom:30px;
  }
  .carousel-indicators {  bottom:0;
  }
  .carousel-inright { right:0; top:-30px; 
  }
  


}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
 height: 100%
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {  
  height: 100%;
  /*background-color: #777;*/
}
.carousel .item img { border:none !important; top: 0; left: 0; min-width: 100%;}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%; min-height: 100%; 
}




/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {


  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}


 

.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel {
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper {
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer.autoHeight {
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item {
	float: left;
}
.owl-controls .owl-page, .owl-controls .owl-buttons div {
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* mouse grab icon */
.grabbing {
	cursor: url(grabbing.png) 8 8, move;
}
/* fix */
.owl-carousel .owl-wrapper, .owl-carousel .owl-item {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
}
/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{  text-align: center; 
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 2px 8px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=5);/*IE7 fix*/
	opacity: 0.5;
}
 
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin:0 10px 20px 0;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #CD2228;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}

/* Styling Next and Prev buttons */

/* preloading images */
.owl-item.loading {
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */

.owl-carousel .owl-wrapper {
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer {
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item {
	float: left;
}
.owl-controls .owl-page, .owl-controls .owl-buttons div {
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* mouse grab icon */
.grabbing {
	cursor: url(grabbing.png) 8 8, move;
}
/* fix */
.owl-carousel .owl-wrapper, .owl-carousel .owl-item {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
}



 
/* 	slide news
----------------------------------------------------------------------------------------------------*/
 
.our-listing, .slide-kh {
    position: relative;
    z-index: 98;
    top: 0;
    left: 0; 
}