.info-class {

    &__header {
        font-size: 20px;
        font-weight: bold;
        color: $white-1;
        display: flex;

        justify-content: center;
        align-items: center;
        text-transform: uppercase;

        background-color: $red-2;
        width: 100%;
        height: 48px;

        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    &__content {
        border: 1px solid $black-3;
        padding: 10px;
        
        .class-name-challenge {
            font-size: 20px;
            font-weight: bold;
            line-height: 1.5;

            &__text-red {
                color: $red-1;
            }
        }

        .document-user {
            display: flex;
            justify-content: space-between;
            font-size: 16px;
            margin-top: 10px;
            &__title {
                font-weight: bold;
         
                color: $black-1;
            }

            &__option {
                color: $red-1;
                
                &:hover {
                    color: $red-2;
                }
            }
        }

        .document-link {
            display: flex;
            justify-content: space-between;
            margin-top: 15px;
            padding-bottom: 15px;
            // cursor: pointer;
          
            &.-border-bottom {
                border-bottom: 1px solid $black-3;
            
           

            }

            &__link-name {
                .fa-hand-o-right {
                    color: $red-1;
                }
            }

            &__icon-download {
                .fa-file-text-o {
                    color: $red-1;
                }
            }

        }

        .tutorial-class {
            color: $black-1;
            font-weight: bold;

            height: 38px;
            background-color: $yellow-1;
            border: 1px solid $yellow-1;
        }

        .hot-line {
            text-align: center;
            color: $red-1;
            margin-top: 10px;
        }

       
    }
    
}