.player-container {
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.jp-video-full {
	position: static;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 !important;
}

.jp-video-full .jp-jplayer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 35px;
	height: auto !important;
}

.jp-video-full .jp-interface {
	position: absolute;
	bottom: 0 !important;
}

/* Poster Image */

.jp-jplayer {
	background: #000;
}

.jp-jplayer video {
	display: block !important;
}

.jp-jplayer img {
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

/* Controls Interface */

.jp-interface {
	position: relative;
	height: 35px;
	width: 100%;
	z-index: 100;
	background-color: #fefefe;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#babec4));
	background-image: -webkit-linear-gradient(top, #fefefe, #babec4);
	background-image: -moz-linear-gradient(top, #fefefe, #babec4);
	background-image: -o-linear-gradient(top, #fefefe, #babec4);
	background-image: -ms-linear-gradient(top, #fefefe, #babec4);
	background-image: linear-gradient(top, #fefefe, #babec4);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#fefefe', EndColorStr='#babec4');
	-webkit-box-shadow: inset 0 1px 0 0 #fff;
	box-shadow: inset 0 1px 0 0 #fff;
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

/* Divider Between Controls */

.divider {
	position: absolute;
	width: 1px;
	height: 25px;
	background: url(sprites.png) no-repeat -50px -344px;
}

.jp-controls .divider {
	top: 5px;
	left: 56px;
}

.jp-progress-container .divider {
	top: 0;
	right: -7px;
}

.jp-volume-bar-container .divider {
	top: 0;
	right: -7px;
}

.jp-controls a:hover,
.jp-controls a:active { 
	background-color: transparent; 
}

/* General Button Styles */

.jp-button {
	background: -webkit-gradient(linear, left top, left bottom, from(#f9fafa), to(#c6c9cd));
	background: -webkit-linear-gradient(top, #f9fafa, #c6c9cd);
	background: -moz-linear-gradient(top, #f9fafa, #c6c9cd);
	background: -o-linear-gradient(top, #f9fafa, #c6c9cd);
	background: -ms-linear-gradient(top, #f9fafa, #c6c9cd);
	background: linear-gradient(top, #f9fafa, #c6c9cd);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f9fafa', EndColorStr='#c6c9cd');
	width: 43px;
	height: 23px;
	z-index: 1;
	outline: none;
	padding: 0;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3), inset 0 1px 0 0 #fff;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3), inset 0 1px 0 0 #fff;
	border: solid 1px rgba(0, 0, 0, 0.15);
	border-top: solid 1px #d3d4d4;
	border-bottom: solid 1px #a5a8ad;
	position: relative;
	overflow: hidden;
	text-indent: -100%;
	display: block;
}

.jp-button:before {
	z-index: 2;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.jp-button:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#c8cace));
	background: -webkit-linear-gradient(top, #fcfcfc, #c8cace);
	background: -moz-linear-gradient(top, #fcfcfc, #c8cace);
	background: -o-linear-gradient(top, #fcfcfc, #c8cace);
	background: -ms-linear-gradient(top, #fcfcfc, #c8cace);
	background: linear-gradient(top, #fcfcfc, #c8cace);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#fcfcfc', EndColorStr='#c8cace');
	border: solid 1px rgba(0, 0, 0, 0.20);
	border-top: solid 1px #c8c9c9;
	border-bottom: solid 1px #9d9fa4;
}

.jp-button:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#f9fafa), to(#e1e3e5));
	background: -webkit-linear-gradient(top, #f9fafa, #e1e3e5);
	background: -moz-linear-gradient(top, #f9fafa, #e1e3e5);
	background: -o-linear-gradient(top, #f9fafa, #e1e3e5);
	background: -ms-linear-gradient(top, #f9fafa, #e1e3e5);
	background: linear-gradient(top, #f9fafa, #e1e3e5);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f9fafa', EndColorStr='#e1e3e5');
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3), inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3), inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	border: solid 1px rgba(0, 0, 0, 0.20);
	border-top: solid 1px #c8c9c9;
	border-bottom: solid 1px #a5a8ad;
}

/* Play & Pause Buttons */

.jp-play,
.jp-pause {
	position: absolute;
	top: 5px;
	left: 5px;
}

.jp-pause {
	display: none;
}

.jp-play:before {
	background: url(sprites.png) 17px 6px no-repeat;
}

.jp-play:hover:before,
.jp-play:active:before {
	background: url(sprites.png) -33px 6px no-repeat;
}

.jp-pause:before { 
    background: url(sprites.png) 17px -44px no-repeat;
}

.jp-pause:hover:before,
.jp-pause:active:before {
	background: url(sprites.png) -33px -44px no-repeat;
}

/* Full Screen & Restore Screen Buttons */

.jp-full-screen,
.jp-restore-screen {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 25px;
}

.jp-restore-screen {
	display: none;
}

.jp-full-screen:before {
	background: url(sprites.png) 7px -244px no-repeat;
}

.jp-full-screen:hover:before,
.jp-full-screen:active:before {
	background: url(sprites.png) -43px -244px no-repeat;
}

.jp-restore-screen:before {
	background: url(sprites.png) 7px -294px no-repeat;
}

.jp-restore-screen:hover:before,
.jp-restore-screen:active:before {
	background: url(sprites.png) -43px -294px no-repeat;
}

/* Progress & Volume Bar (Possible, Seek, Play, Volume, Volume Value Bars) */

.jp-progress-container,
.jp-volume-bar-container {
	height: 5px;
	padding: 10px;
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 1px 2px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background-color: #e9eaea;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e9eaea), to(#babdc2));
	background-image: -webkit-linear-gradient(top, #e9eaea, #babdc2);
	background-image: -moz-linear-gradient(top, #e9eaea, #babdc2);
	background-image: -o-linear-gradient(top, #e9eaea, #babdc2);
	background-image: -ms-linear-gradient(top, #e9eaea, #babdc2);
	background-image: linear-gradient(top, #e9eaea, #babdc2);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#e9eaea', EndColorStr='#babdc2');
}

.jp-progress-container {
	position: absolute;
	top: 5px;
	left: 63px;
	right: 150px;
}

.jp-volume-bar-container {
	position: absolute;
	top: 5px;
	right: 45px;
	width: 52px;
	padding: 10px 10px 10px 30px;
}

.jp-progress,
.jp-seek-bar,
.jp-play-bar,
.jp-volume-bar,
.jp-volume-bar-value {
	height: 5px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}

.jp-progress {
	position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
	background-color: #4ea5f1;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4ea5f1), to(#387fec));
	background-image: -webkit-linear-gradient(top, #4ea5f1, #387fec);
	background-image: -moz-linear-gradient(top, #4ea5f1, #387fec);
	background-image: -o-linear-gradient(top, #4ea5f1, #387fec);
	background-image: -ms-linear-gradient(top, #4ea5f1, #387fec);
	background-image: linear-gradient(top, #4ea5f1, #387fec);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#4ea5f1', EndColorStr='#387fec');
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.jp-seek-bar,
.jp-volume-bar {
	cursor: pointer;
    background-color: #a5abb2;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a5abb2), to(#bec3c8));
	background-image: -webkit-linear-gradient(top, #a5abb2, #bec3c8);
	background-image: -moz-linear-gradient(top, #a5abb2, #bec3c8);
	background-image: -o-linear-gradient(top, #a5abb2, #bec3c8);
	background-image: -ms-linear-gradient(top, #a5abb2, #bec3c8);
	background-image: linear-gradient(top, #a5abb2, #bec3c8);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#a5abb2', EndColorStr='#bec3c8');
	-webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.jp-volume-bar {
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.jp-play-bar,
.jp-volume-bar-value {
	float: left;
	position: relative;
	background-color: #4ea5f1;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4ea5f1), to(#387fec));
	background-image: -webkit-linear-gradient(top, #4ea5f1, #387fec);
	background-image: -moz-linear-gradient(top, #4ea5f1, #387fec);
	background-image: -o-linear-gradient(top, #4ea5f1, #387fec);
	background-image: -ms-linear-gradient(top, #4ea5f1, #387fec);
	background-image: linear-gradient(top, #4ea5f1, #387fec);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#4ea5f1', EndColorStr='#387fec');
	-webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}

/* Mute & Unmute Buttons */

.jp-mute,
.jp-unmute {
	position: absolute;
	top: 7px;
	left: 8px;
	width: 14px;
	height: 12px;
	text-indent: -100%;
	overflow: hidden;
}

.jp-mute,
.jp-unmute {
	background: url(sprites.png) no-repeat 0 -200px;
}

.jp-mute:hover,
.jp-mute:active,
.jp-unmute:hover,
.jp-unmute:active {
	background: url(sprites.png) no-repeat -50px -200px;
}

/* Bullet & Current Time Tooltip */

.bullet {
	position: absolute;
	content: "";
	top: -3px;
	right: -7px;
	height: 13px;
	width: 13px;
	background: url(sprites.png) no-repeat 0px -350px;
}

.jp-current-time {
	text-align: center;
	position: absolute;
	top: -29px;
	right: -17px;
	padding: 6px 10px;
	line-height: 15px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.80)), to(rgba(0, 0, 0, 0.90)));
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.90));
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.90));
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.90));
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.90));
	background-image: linear-gradient(top, rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.90));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#000000', EndColorStr='#000000');
	font-size: 11px;
	color: #fff;
	text-shadow: 0 1px 0 #000;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	z-index: 3;
	opacity: 0;
	display: none;
}

.jp-current-time:after {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.jp-current-time:after {
	border-top-color: rgba(0, 0, 0, 0.85);
	border-width: 4px;
	left: 50%;
	margin-left: -4px;
}