*{padding: 0; margin: 0;}
body,td,input,option,select,a,table,form,textarea{font-family: arial; font-size: 12px;color: #474747; line-height: 18px; word-spacing: 1px;}
select{padding: 3px;}
img{border: 0;}
body{margin: 0; background: #DDDDDD;}
a{text-decoration: none;}
ol,li{list-style: none;}
a:hover{color: red;}
#site{width: 100%; overflow: hidden;margin: 0 auto;}
.banner {background: url("../images/banner_bg.gif") repeat-x; height: 39px;}
/************************** MENU ***************************/
.menu{background: url("../images/icon/top_menu_bg.gif") repeat-x;height: 27px; padding-left: 10px; border-left: 1px solid #88A8B8; border-right: 1px solid #88A8B8; margin-bottom: 3px;}
.home_icon{background: url("../images/icon/home_icon.gif") no-repeat;padding-left: 30px;}
.web_icon{background: url("../images/icon/webview_icon.gif") no-repeat; padding-left: 30px;}
.profile_icon{background: url("../images/icon/profile_icon.gif") no-repeat; padding-left: 30px;}
.logout_icon{background: url("../images/icon/logout_icon.gif") no-repeat; padding-left: 30px;}
.home_icon,.web_icon, .profile_icon, .logout_icon{height: 23px; float: left; border-right: 1px solid #88A8B8; padding-right: 25px; margin-right: 15px;}
.menu a{line-height: 25px;}
/*************************** BODY *******************************/
.right_colum, .left_colum{background: url("../images/top_colum.gif") repeat-x #FFF;}
.right_colum{padding: 5px;}
.left_colum{width: 200px;}
.title_panel{height: 30px; color: #FFF; font-size: 13px; font-weight: bold; padding-left: 10px; margin-top: 3px;}
.content td.left{width: 150px; height: 35px; border-bottom: 1px solid #333333;text-align: right;}
.content td.right{padding-left: 30px;}
.content input[type="text"], .content input[type="password"]{background-color: #EEEEEE; border: 1px solid #DDDDDD; width: 200px;padding: 4px;}
.content .error{color: red; font-style: italic; margin-bottom: 5px}
.warming{color: red; text-decoration: line-through;}
.table_list td, .table_list th, .table_permission td, .table_permission th{border: 1px solid #C9D6E9; padding: 3px;}
.table_list td{padding: 5px 6px;}
.table_list tr.title{background: url('../images/title_bg.gif') repeat-x;}
tr.tr_hover{background: #EEEEEE;}
.table_list, .table_permission{background-color: #FEFEFE;border: 1px solid #E5E3E6;border-collapse: collapse;width: 100%;}
.del_button{width: 120px; float: left;}
.submit_button{background: url("../images/button.png") no-repeat; border: none;width: 102px; height: 27px; text-align: center;}
#quicksearch {float: right;text-align: right;width: 240px;}
#quicksearch img{margin-top: 4px;}
.search{height: 30px; margin: 7px 0;}
.filter{position: fixed; bottom: 0; width: 100%; left: 0;background: #EEEEEE;  border-top: 2px solid #DDDDDD;}
.filter ul{margin: 10px; height: 20px; margin: 5px 10px;}
.filter li{float: left; margin-left: 10px;}
.filter input{background: #FFF; color: #333333; border: 1px solid #999999; margin-left: 10px;height: 20px;}
.filter li.last{float: right}
.action_success {background-color:yellowgreen; left: 40%; right: 40%; padding: 3px; position: absolute; text-align: center; top: 0px;padding: 5px 0;}
/**************************** PAGING *************************/
.paging_first{background: url("../images/first_button.png") no-repeat;}
.paging_next{background: url("../images/next_button.png") no-repeat;}
.paging_prev{background: url("../images/prev_button.png") no-repeat;}
.paging_last{background: url("../images/last_button.png") no-repeat;}
.paging_first, .paging_next, .paging_prev, .paging_last{float: left; width: 33px; margin-right: 5px; height: 20px;}
.paging{clear: both; height: 20px; margin-top: 10px;}
/****************** CHILD PAGE *************/
.left_menu{background-color: #7AA8C4; height: 30px; cursor: pointer;padding-left: 15px; border: 1px solid #FFF; line-height: 30px;border-bottom: none; color: #FFF; font-size: 13px; font-weight: bold;}
.submenu a{line-height: 30px;}
.submenu{height: 30px; display: none;padding-left: 15px; border: 1px solid #DDDDDD;border-bottom: none;}
.data_level1{font-weight: bold; color: #A40602;}
/******************* LEFT MENU ***************/
.left_menu_sub{display: none;}
/**************************** FOOTER *************************/
.footer{padding: 10px; background: #FFF; margin: 5px 0;text-align: right;}
/************************** MENU MODULE *******************/
.menu_module{margin-bottom: 10px; height: 25px;}
.menu_module select{margin-right: 10px; padding: 4px; float: left;}
.menu_getname{display: none;}
/***********/
.images_item{text-align: center; width: 100px; height: 135px; float: left; margin-right: 10px;}
.images_item img{margin-bottom: 5px;}
#upload{background: url("../images/upload.png") no-repeat; width: 48px; height: 48px;}
.select_cate{float: left; margin-right: 20px;}
.permission_func li {float: left; margin-left: 10px;}
.permission_func li input {margin-left: 6px; float: right;}
.permission_func li span {overflow: hidden; width: 60px; float: left; text-align: right;}
/****** PRIVATE *****/
.select_cate{width: 300px;}