$shadow: rgba(0,0,0,.16);

//text color
$black-1: #393939;
$black-2: #888888;
$black-3: #DBDBDB;
$black-4: #f5f5f5;
$black-5: #F1F1F1;


$red-1: #CD191D;
$red-2: #E60000;

$white-1: #ffff;

$yellow-1: #FFCD00;

$blue-1: #2D8BDE;
$blue-2: rgb(15, 96, 167);

$color1: #F24145;
$background-skill-point: #E8E9EE;
$colormain:#456990;
$icon-done: #2AB850;

$text-gray: #A4A4A4;
$text-blue: #1890FF;

// border, line color
$border-gray: #D1D1D1;

//icon-color
$icon-secondary: #a1a7b3;