/*!
 * Start Bootstrap - Creative Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
*{list-style: none}
html,
body {
    width: 100%;
    height: 100%;
}
@font-face {
    font-family: 'FontSemi';
    src: url('../fonts/segoeui.ttf'),url('../fonts/segoeuib.ttf'),url('../fonts/segoeuii.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: fontCK;
    src: url(../fonts/UTM%20Facebook.ttf);
}
body {
     font-family: FontSemi;
}

hr {
    max-width: 50px;
    border-color: #f05f40;
    border-width: 3px;
}

hr.light {
    border-color: #fff;
}

a {
    /*color: #f05f40;*/
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

/*a:hover,*/
/*a:focus {*/
    /*color: #eb3812;*/
/*}*/



p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}
#about{
    position: relative;
    background: #d32026;
}
#about:after{
    height: 7px;
    width: 100%;
    background: #c31d23;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    z-index: 8;
}
#about .container{
    background: url("../img/bg2.png") no-repeat center top;
    min-height: 598px;
    position: relative;
    z-index: 9;
}

.bg-dark {
    color: #fff;
    background-color: #222;
}

.text-faded {
    color: rgba(255,255,255,.7);
}


aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

.navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    color: #f05f40;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #f05f40;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #f05f40!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255,255,255,.3);
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: #010101;
        font-size: 18px;
        font-family: FontSemi;
        font-weight: bold;
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #cc2228;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #fff;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: #f05f40;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #cc2228;
    }
}

header {
    position: relative;
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: rgba(233,233,233,1);

}
header .container{


    min-height: 445px;
    position: relative;
}
header .container > .mnv-bg1{
    position: absolute;
    left: 0px;
    top: 55px;
    text-align: center;
    width: 100%;
    overflow: hidden;
}



#mainNav,.mnv-header{
    height: 96px;
    width: 100%;
    z-index: 99999;
}
#mainNav h1{
    margin: 5px 0;
}
#mainNav.navbar{
    margin: 0;
    position: fixed;
    border-radius: 0;
}
#mainNav .navbar-nav > li > a {
    padding-bottom: 38px;
    padding-top: 38px;
}
header h2{
    color: #000;
    font-family: FontSemi;
    font-size: 30px;
    margin-bottom: 57px;
    margin-top: 40px;
}
header h2 span{
    font-size: 36px;
    color: #cc2228;
}
p.mnv-diem{
    color: #cc2228;
    font-family: FontSemi;
    font-size: 30px;
    margin-bottom: -9px;
    margin-top: 3px;
}
header p{
    font-size: 30px;
    font-family: FontSemi;
    color: #231f20;
    margin: 0;
}
header .item a{
    background: #cc2228 none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    margin-top: 12px;
    padding: 6px 16px;
}
#about h3{
    font-size: 24px;
    color: #f0ff00;
}
#about .container{
    padding-top: 35px;
}
#about ul{
    padding-left: 0;
    padding-top: 28px;
}
#about ul li{
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    padding-left: 65px;
    position: relative;
    padding-right: 15px;
    margin-bottom: 35px;
}
#about ul li span.mnv-so{
    height: 46px;
    width: 46px;
    background: #f2bdbe;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
#about ul li span.mnv-so i{
    margin: 7px;
    height: 32px;
    width: 32px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    color: #000;
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
}
#about ul li:last-child{

}
#about ul li a{
    display: inline-block;
    background: #fff;
    border-radius: 4px;
    color: #000;
    line-height: 24px;
    font-size: 18px;
    position: relative;
    padding: 3px 32px 7px;
}
#about ul li a i{
    background: url("../img/iconbut.png") no-repeat;
    width: 31px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: -5px;
    left: 5px;
    -webkit-transition: all 0.4s ease ;
    -moz-transition: all 0.4s ease ;
    -ms-transition: all 0.4s ease ;
    -o-transition: all 0.4s ease ;
    transition: all 0.4s ease ;
}
#services h3{
    font-size: 36px;
    font-weight: normal;
    color: #000;
    margin: 0;
    padding: 25px 0;
    text-align: center;
}
.mnv-tab{
    background: #000000;
}
.nav-tabs{
    border: 0;
}
.nav-tabs > li{
    width: 50%;
    margin: 0;
}

.nav-tabs > li > a{
    border: 0 none;
    border-radius: 0;
    color: #fff;
    font-family: FontSemi;
    font-size: 19px;
    font-weight: 100;
    line-height: 26px;
    text-transform: uppercase;
    padding: 7px 15px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover,.nav-tabs > li > a:hover{
    background: #cc2329;
    border: 0;
    color: #fff;
}

p.mnv-cs1{
    background: rgba(0, 0, 0, 0) url("../img/iconmap.png") no-repeat scroll 0 0;
    color: #000;
    font-size: 23px;
    font-weight: lighter;
    height: 64px;
    line-height: 66px;
    padding-left: 65px;
    margin-bottom: 25px;
}
p.mnv-dc,p.mnv-dt{
    font-size: 21px;
    color: #000;
    font-weight: lighter;
    line-height: 24px;
    margin-bottom: 0;
}
.tab-content a{
    background: #cc2329 none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-family: FontSemi;
    font-size: 22px;
    font-weight: lighter;
    margin-top: 30px;
    padding: 1px 15px 5px;
}
.tab-content{
    background:  #9bcacc url("../img/bg6.png") no-repeat 41% bottom;
    padding: 50px 0 223px;
}
.mnv-footer{
    background: #353739;
    text-align: center;
    padding-top: 60px;
}
.mnv-footer h3{
    margin: 0;
    color: #dfdfda;
    letter-spacing: 5px;
    font-size: 36px;
    font-family: FontSemi;
    font-weight: lighter;
    margin-bottom: 35px;
}
.mnv-footer p a i{
    color: #777;
    font-size: 30px;
    margin-right: 20px;
}
.mnv-copyright{
    border-top: 1px solid #464647;
    color: #abafa2;
    margin-bottom: 0;
    margin-top: 40px;
    padding: 20px 0 10px;
}
.mnv-copyright a{
    color: #abafa2;
    font-weight: bold;
}
.customNavigation{
    text-align: center;
    position: static;
}

.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#owl-demo{
  position: relative;
    width: 900px;
    margin: auto;
}
.customNavigation .btn.prev{
    position: absolute;
    top: 38%;
    left: 0;
}
.customNavigation .btn.next{
    position: absolute;
    top: 38%;
    right: 0;
}
#owl-demo .item{
    min-height: 230px;
}
#dnsg{
    background: url("../img/bg3.png") repeat;
    min-height: 500px;
}
#dnsg h3{
    font-size: 36px;
    font-family: FontSemi;
    font-weight: lighter;
    color: #000;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 68px;
}
#dnsg h3 span{

    color: #d32026;
}
#dnsg .mnv-info p{
    color: #000;
    font-family: FontSemi;
    font-size: 20px;
    margin-bottom: 0;
    padding-right: 30px;
}
#dnsg .mnv-info p.mnv-name{
    color: #d32026;
    font-family: FontSemi;
    font-weight: bold;
}
.mnv-img{
    display: inline-block;
    float: left;
    margin-right: 40px;
}
.mnv-img a{
    width: 206px;
    height: 205px;
    border: 5px solid #fff;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
}
.mnv-img a img{
    height: 205px;
    left: -5px;
    position: relative;
    top: -5px;
    width: 206px;
}
.mnv-info{
    display: inline-block;
    margin-top: 35px;
    width: 45%;
}
#owl-demo1 .owl-item:nth-child(2n) .mnv-info{
    float: right;
}
#owl-demo1 .owl-item:nth-child(2n) .mnv-img{
    margin-left: 65px;
}
#dnsg  .owl-theme .owl-controls .owl-page span{
    opacity: 1;
    background: #000;
}
#dnsg  .owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #d32026;
}
#dnsg  .owl-theme .owl-controls {
    margin-top: 52px;
    text-align: center;
}
#cnhv{
    background: url("../img/bg4.png") repeat;
    min-height: 650px;

}
#cnhv h3{
    color: #fff;
    font-family: FontSemi;
    font-size: 45px;
    font-weight: lighter;
    margin-top: 0;
    padding-bottom: 75px;
    padding-top: 60px;
    text-align: center;
}
#nbcbkh{
    min-height: 360px;
    background: rgba(230,230,230,1) url("../img/bg7.png") no-repeat center 30px;

}
#nbcbkh h3{
    margin-top: 0;
    padding-top: 38px;
    text-align: center;
    font-size: 36px;
    color: #232323;
    font-family: FontSemi;
    font-weight: lighter;
}
#nbcbkh h3 span{
    color: #cc2329;
}
.mnv-dkhn{
    background: rgba(0, 0, 0, 0) url("../img/icontron.png") no-repeat scroll 0 0;
    height: 152px;
    right: 0px;
    position: fixed;
    top: 37%;
    width: 153px;
    z-index: 9;
}
.mnv-dkhn a{
    color: #fff;
    display: block;
    font-size: 24px;
    padding: 38px 23px;
    text-align: center;
}
#owl-demo3 .owl-item p{
    border: 1px solid #ccc;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 15px 120px 10px;
    padding: 15px;

}
#owl-demo3 .owl-item a i{
    animation: nhay 0.4s ease infinite;
}
@keyframes nhay {
    0%{
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        transform: translateX(0px);
        color: #333;
    }
    50%{
        -webkit-transform: translateX(3px);
        -moz-transform: translateX(3px);
        -ms-transform: translateX(3px);
        -o-transform: translateX(3px);
        transform: translateX(3px);
        color: red;
    }
    100%{
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        transform: translateX(0px);
        color: blue;
    }
}
/*Timeline*/
ol {
    position: relative;
    display: block;
    margin: 105px auto;
    height: 5px;
    background: #cc2329;
    padding: 0;
    width: 1070px;
}

/* ---- Timeline elements ---- */
ol li:first-child{
    margin-left: 85px;
}
ol li {
    position: relative;
    top: -15px;
    display: inline-block;
    float: left;
    font: bold 14px arial;
    height: 34px;
    width: 34px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 23px;
    border: 5px solid #cc2329;
    margin-right: 248px;

}
ol li:last-child{
    margin-right: 100px;
}

/* ---- Details ---- */

.details {
    display: block;
    position: absolute;
    left: -85px;
    top: 57px;
    font-size: 17px;
    width: 225px;
    color: #000;
    font-family: Arial;
    font-weight: 100;
}

ol li:nth-child(2n+1) .details {
    top: -70px;
}
/* ---- Hover effects ---- */

ol li:hover {
    cursor: pointer;
    color: #000;
    box-shadow: 0px 0px 10px #cc2329;
    -webkit-transition: all 0.5s ease ;
    -moz-transition: all 0.5s ease ;
    -ms-transition: all 0.5s ease ;
    -o-transition: all 0.5s ease ;
    transition: all 0.5s ease ;
}
ol li:hover::before {
    top: 1px;
    left: -31px;
    width: 8px;
    height: 8px;
    border-width: 5px;
    border-color: #000;
}
ol li:hover .details {
    display: block;
    color: #444;
}
.mnv-timeline{
    position: relative;
}

.float-ck { position: fixed; bottom: 0px; z-index: 9000;}
#hide_float_right {text-align:right; font-size: 11px; }
#hide_float_right > a {background: #ff0000; padding: 4px 4px; color: #FFF;}
.x1{
    display: none;
}
.y1{
    display: none;

}
.x{
    display: inline-block;
}
.y{
    display: inline-block;

}
.z{
    display: inline-block;
}
.z1{
    display: none;
    background: #ff0000 none repeat scroll 0 0;
    color: #fff;
    padding: 4px;
    position: fixed; bottom: 0px;z-index: 9000;
    right: 0;
}
.z1:hover{
    cursor: pointer;
}
.mnv.y1{
    height: 325px;
}
#float_content_right{
    position: relative;
}
#float_content_right >p{
    bottom: 15px;
    color: #fff;
    font-size: 16px;
    margin-bottom: 0;
    position: absolute;
    right: 20px;
}
#float_content_right a{
    display: inline-block;
}
.float-ck:hover{
    cursor: pointer;
}
#cnhv{
    text-align: center;
}
#cnhv ul{
    display: inline-block;
    margin: auto;
    padding-left: 0;
}
#cnhv ul li{
    width: 185px;
    text-align: center;
    float: left;
    padding-bottom: 45px;
    position: relative;
    opacity: 0.6;
}
#cnhv ul li:after{
    border-bottom: 36px solid rgba(255, 255, 255, 0.2);
    border-left: 36px solid transparent;
    border-right: 38px solid transparent;
    bottom: -4px;
    height: 0;
    left: 55px;
    position: absolute;
    width: 0;
    z-index: 999;
}

#cnhv ul li a{
    width: 145px;
    height: 145px;
    border-radius: 50%;
    border: 5px solid #fff;
    display: inline-block;
    margin-bottom: 8px;
}
#cnhv ul li a img{
    width: 145px;
    height: 145px;
    position: relative;
    top: -5px;
    left: -5px;
}
#cnhv ul li p{
    font-size: 16px;
    color: #fff;
    font-family: FontSemi;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 0;
}
.mnv-tooltip .item{
    background: rgba(255, 255, 255, 0.2) url("../img/quote.png") no-repeat scroll 23px 35px;
    border-radius: 4px;
    color: #fff;
    padding: 30px 55px 30px 95px;
    font-size: 17px;
    font-weight: normal;
    font-style: italic;
    text-align: left;
    display: none;
}
.mnv-tooltip .item.active{
    display: block;
}
#cnhv ul li.active{
    opacity: 1;
}
#cnhv ul li.active:after{
    content: "";
}
#mainNav .affix .navbar-nav > li > a{
    padding-top: 15px;
    padding-bottom: 15px;
}
.mnv-footer p a:hover i{
    color: #cc2329;
    -webkit-transition: all 0.4s ease ;
    -moz-transition: all 0.4s ease ;
    -ms-transition: all 0.4s ease ;
    -o-transition: all 0.4s ease ;
    transition: all 0.4s ease ;
    text-shadow: 0px 0px 10px rgba(255,255,255,1);
}
a:hover{
    text-decoration: none;
}
#about ul li:hover span.mnv-so i{
    background: #f2bdbe;
    -webkit-transition: all 0.4s ease ;
    -moz-transition: all 0.4s ease ;
    -ms-transition: all 0.4s ease ;
    -o-transition: all 0.4s ease ;
    transition: all 0.4s ease ;
   animation:scale1 linear 0.4s  1;
}
#about ul li:hover{
    cursor: pointer;
}
#about ul li:hover span.mnv-so{
    background: #fff;
    -webkit-transition: all 0.4s ease ;
    -moz-transition: all 0.4s ease ;
    -ms-transition: all 0.4s ease ;
    -o-transition: all 0.4s ease ;
    transition: all 0.4s ease ;
}
@keyframes scale1 {
   0%{
       -webkit-transform: scale(0);
       -moz-transform: scale(0);
       -ms-transform: scale(0);
       -o-transform: scale(0);
       transform: scale(0);
   }
    100%{
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}
header .item a,.tab-content a{
    overflow: hidden;
    position: relative;
}
header .item a::after,.tab-content a:after {
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    width: 50px;
    z-index: 9;
}

header .item a:hover::after,.tab-content a:hover:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
header .item a:hover,.tab-content a:hover{
    background: #e02c26 none repeat scroll 0 0;

    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
    color: #ec817d;
    text-decoration: none;
    text-shadow: -1px -1px 0 #c2211c;
    transition: all 250ms linear 0s;
}

#about ul li a:hover {
    border: 0px solid;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5) inset, 0 0 20px rgba(255, 255, 255, 0.2);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;

}
#about ul li a {
    border: 0 solid;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0) inset;
    outline: 1px solid rgba(255, 255, 255, 0);
    outline-offset: 0;
    text-shadow: none;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    position: relative;
}
#about ul li a:after{
    background: #000 none repeat scroll 0 0;
    bottom: 9px;
    content: "";
    height: 1px;
    left: 30px;
    position: absolute;
    width: 0%;
    -webkit-transition: all 0.4s ease ;
    -moz-transition: all 0.4s ease ;
    -ms-transition: all 0.4s ease ;
    -o-transition: all 0.4s ease ;
    transition: all 0.4s ease ;
}
#about ul li a:hover:after{
    background: #000 none repeat scroll 0 0;
    bottom: 9px;
    content: "";
    height: 1px;
    left: 30px;
    position: absolute;
    width: 68%;
    -webkit-transition: all 0.4s ease ;
    -moz-transition: all 0.4s ease ;
    -ms-transition: all 0.4s ease ;
    -o-transition: all 0.4s ease ;
    transition: all 0.4s ease ;
}
.slider-img{
    width: 30%;
    float: left;
}
.slider-img img{
    width: 100%;
}
.slider-name{
    width: 70%;
    float: left;
    padding-left: 20px;
}
#nth{
    padding-bottom: 50px;
}
#nth h3 {
    color: #232323;
    font-family: FontSemi;
    font-size: 36px;
    font-weight: lighter;
    margin-top: 0;
    padding-top: 38px;
    text-align: center;
    margin-bottom: 70px;
}
#nth h3 span {
    color: #cc2329;
}
.slider-name p.name{
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    font-size: 24px;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 0;
}
.slider-name span.name{
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    font-size: 14px;
    padding-bottom: 3px;
    padding-left: 5px;
    text-align: center;
    margin-bottom: 0;
    text-align: center;
}
.col-65{
    width: 65%;
    float: left;
}
.col-35{
    width: 35%;
    float: left;
}
.mnv-identifi{
    margin-top: 15px;
}
.mnv-identifi p{
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    font-size: 18px;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 0;
    font-weight: bold;
}
.mnv-identifi span{
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    font-size: 14px;
    padding-bottom: 3px;
    padding-left: 5px;
    text-align: center;
    margin-bottom: 0;
    text-align: center;
}
#owl-demo3 .owl-item{
    min-height: 270px;
    text-align: center;
}
.progress{
    overflow: visible;
    position: relative;
}
.progress-bar{

}
.progress-bar:hover{
    cursor: pointer;
}
.progress-bar span{
     position: absolute;
     top: 0px;
     padding: 10px;
     border: 2px solid #5bc0de;
     border-radius: 50%;
     color: #333;
     opacity: 0;
    background: #fff;
    z-index: 99999;
 }
span.muiten{
    border-left: 19px solid transparent;
    border-right: 18px solid transparent;
    border-top: 24px solid #5bc0de;
    height: 0;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 999;
    padding: 0;
    transition: all 0.3s ease 0s;
    border-bottom: 0 none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.progress-bar:hover span.muiten{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-bottom: 0 none;
    border-radius: 0;
    height: 0;
    opacity: 1;
    padding: 0;
    position: absolute;
    top: -25px;
    transition: all 0.3s ease 0s;
    width: 0;
    z-index: 999;
}
.progress-bar:hover > span.tron{
    position: absolute;
    top: -55px;
    padding: 10px;
    border: 2px solid #5bc0de;
    border-radius: 50%;
    color: #333;
    opacity: 1;
    -webkit-transition: all 0.3s ease ;
    -moz-transition: all 0.3s ease ;
    -ms-transition: all 0.3s ease ;
    -o-transition: all 0.3s ease ;
    transition: all 0.3s ease ;

}
.listening{
    margin-bottom: 20px;
}
.yourscore{
    text-align: center;
}
.listening span{
    background: #ddd;
    padding: 5px;
    color: #333;
}
.slider-img1{
    padding-left: 10px;
    text-align: center;
    padding-top: 55px;
}
.slider-name1{
    border-right: 1px solid #ccc;
    padding-right: 15px;
}
.slider-img1 p{
    font-size: 20px;
    color: #cc2329;
}
.slider-img1 span{
    border: 2px solid #333;
    border-radius: 50%;
    color: #333;
    font-size: 22px;
    font-weight: bold;
    padding: 18px;
}
.mnv-identifi > div span:nth-child(2){
    border-bottom: 0px solid #ccc;
}
#about ul li a:hover i {
    background: rgba(0, 0, 0, 0) url("../img/iconbut.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 30px;
    left: 83%;
    position: absolute;
    top: -5px;
    width: 31px;
    -webkit-transition: all 0.4s ease ;
    -moz-transition: all 0.4s ease ;
    -ms-transition: all 0.4s ease ;
    -o-transition: all 0.4s ease ;
    transition: all 0.4s ease ;
}
@media (max-width:480px) {
    #owl-demo3 .owl-item p {
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 0;
        padding: 15px 10px 10px;
        margin: 0;
    }
    .mnv-dkhn {
        display: none;
    }
    #owl-demo1 .owl-item:nth-child(2n) .mnv-img{
        margin-left: 0;
    }
    #owl-demo3 .owl-item{
        min-height: auto;
    }
    #about h3{
        font-size: 20px;
        color: #f0ff00;
    }
    #about ul li {
        color: #fff;
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 15px;
        padding-left: 65px;
        padding-right: 15px;
        position: relative;
    }
    #nth h3{
        margin-bottom: 35px;
    }
    #owl-demo3 .owl-item img{
        width: 100%;
    }
    .page-scroll > img {
        width: 41%;
    }
    #owl-demo3.row{
        margin: 0;
    }
    #mainNav, .mnv-header {
        height: 65px;
        width: 100%;
        z-index: 99999;
    }
    .navbar-nav{
        background: #fff;
        margin-top: 0;
        margin-bottom: 0;
    }
    #mainNav .navbar-nav > li > a{
        padding-bottom: 15px;
        padding-top: 15px;
    }
    header h2 span {
        color: #cc2228;
        font-size: 22px;
    }
    header h2 {
        color: #000;
        font-family: FontSemi;
        font-size: 21px;
        margin-bottom: 57px;
        margin-top: 40px;
    }
    .btn.next > img,.btn.prev > img {
        width: 60%;
    }
    #dnsg h3,#services h3,.mnv-footer h3,#nbcbkh h3,#nth h3{
        font-size: 24px;
    }
    .slider-img {
        float: left;
        width: 100%;
    }
    .slider-name {
        float: left;
        padding-left: 0px;
        width: 100%;
    }
    #about .container{
        min-height: 495px;
    }
    #dnsg .owl-theme .owl-controls {
        margin-top: 15px;
        text-align: center;
    }
    #services h3{
        padding: 10px 0;
    }
    #cnhv h3 {
        color: #fff;
        font-family: FontSemi;
        font-size: 28px;
        font-weight: lighter;
        margin-top: 0;
        padding-bottom: 20px;
        padding-top: 10px;
        text-align: center;
    }
    #dnsg h3{
        margin-bottom: 30px;
    }
    .mnv-info{
        margin-top: 8px;
    }
    .slider-name1{
        padding: 0;
        border: 0;
        margin-top: 20px;
    }
    .slider-img1 {
        padding-bottom: 20px;
        padding-left: 0px;
        padding-top: 16px;
        text-align: center;
    }
    .mnv-img{
        margin: 0;
        float: none;
    }
    .mnv-info{
        width: 100%;
    }
    #dnsg .owl-carousel .owl-item{
        text-align: center;
    }
    #dnsg .mnv-info p{
        padding: 0;
    }
    #cnhv h3 {
        color: #fff;
        font-family: FontSemi;
        font-size: 33px;
        font-weight: lighter;
        margin-top: 0;
        padding-bottom: 40px;
        padding-top: 30px;
        text-align: center;
    }
    .mnv-footer{
        padding-top: 40px;
    }
    #owl-demo{
        width: 100%;
    }
    ol{
        width: 100%;
        margin: 25px auto 105px;
        background: none;
        padding-left: 20px;
    }
    ol li:first-child{
          margin-left: 0;
      }
    .details,ol li:nth-child(2n+1) .details{
        left: 36px;
        top: -8px;
    }
    ol li{
        background: #fff none repeat scroll 0 0;
        border: 5px solid #cc2329;
        border-radius: 50%;
        display: block;
        float: none;
        font: bold 14px/23px arial;
        height: 34px;
        margin-bottom: 25px;
        margin-right: 248px;
        position: relative;
        text-align: center;
        top: -15px;
        width: 34px;
    }
    #cnhv ul li{
        width: 25%;
    }
    .mnv-tooltip .item {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 4px;
        color: #fff;
        display: none;
        font-size: 14px;
        font-style: italic;
        font-weight: normal;
        padding: 30px 14px 30px 12px;
        text-align: left;
    }
    .tab-content {
        background: #9bcacc url("../img/bg6.png") no-repeat scroll 41% bottom;
        padding: 15px 0 185px;
    }
    #owl-demo5,#owl-demo6{
        margin: 0;
    }
    #cnhv{
        min-height: 585px;
    }
    #cnhv ul li {
        float: none;
        margin: auto;
        opacity: 0.6;
        padding-bottom: 45px;
        position: relative;
        text-align: center;
        width: 185px;
    }
    #owl-demo4{
        margin: 0;
    }
    #owl-demo4 .item{
        padding: 0;
    }
}
@media (min-width: 481px) and (max-width:768px) {
    #owl-demo3 .owl-item p {
        font-size: 14px;
        font-weight: bold;
        margin: 15px 39px 0px;
        padding: 15px 10px 10px;
    }
    #about ul li {
        color: #fff;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 30px;
        padding-left: 47px;
        padding-right: 0;
        position: relative;
    }
    #about ul li span.mnv-so {
        background: #f2bdbe none repeat scroll 0 0;
        border-radius: 50%;
        display: inline-block;
        height: 39px;
        left: 0;
        position: absolute;
        top: 0;
        width: 39px;
    }
    #about ul li span.mnv-so i {
        background: #fff none repeat scroll 0 0;
        border-radius: 50%;
        color: #000;
        display: inline-block;
        font-size: 16px;
        font-style: normal;
        font-weight: bold;
        height: 25px;
        line-height: 23px;
        margin: 7px;
        text-align: center;
        width: 25px;
    }
    #about ul li a {

        padding: 3px 15px 7px 32px;

    }
    #about h3{
        margin-bottom: 0;
    }
    .mnv-dkhn {
        display: none;
    }
    .navbar-default .nav > li > a, .navbar-default .nav > li > a:focus{
        font-size: 11px;
    }
    #owl-demo1 .owl-item:nth-child(2n) .mnv-img{
        margin-left: 0;
    }
    .page-scroll > img {
        width: 55%;
    }
    #mainNav, .mnv-header {
        height: 52px;
        width: 100%;
        z-index: 99999;
    }
    .navbar-nav{
        background: #fff;
        margin-top: 0;
        margin-bottom: 0;
    }
    #mainNav .navbar-nav > li > a{
        padding-bottom: 15px;
        padding-top: 15px;
    }
    header h2 span {
        color: #cc2228;
        font-size: 22px;
    }
    header h2 {
        color: #000;
        font-family: FontSemi;
        font-size: 28px;
        margin-bottom: 57px;
        margin-top: 40px;
    }
    .btn.next > img,.btn.prev > img {
        width: 60%;
    }
    #dnsg h3,#services h3,.mnv-footer h3,#nbcbkh h3,#nth h3{
        font-size: 28px;
    }
    .slider-img {
        float: left;
        width: 30%;
    }
    .slider-name {
        float: left;
        padding-left: 15px;
        width: 70%;
    }
    .slider-name1{
        padding-right: 15px;

        margin-top: 20px;
    }
    .slider-img1 {
        padding-bottom: 20px;
        padding-left: 0px;
        padding-top: 70px;
        text-align: center;
    }
    .mnv-img{
        margin: 0;
        float: none;
    }
    .mnv-info{
        width: 100%;
    }
    #dnsg .owl-carousel .owl-item{
        text-align: center;
    }
    #dnsg .mnv-info p{
        padding: 0;
    }
    #cnhv h3 {
        color: #fff;
        font-family: FontSemi;
        font-size: 33px;
        font-weight: lighter;
        margin-top: 0;
        padding-bottom: 40px;
        padding-top: 30px;
        text-align: center;
    }
    .mnv-footer{
        padding-top: 40px;
    }
    #owl-demo{
        width: 100%;
    }
    ol{
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        margin: 69px auto 105px;
        padding-left: 11%;
        width: 100%;
    }
    ol li:first-child{
        margin-left: 0;
    }
    .details,ol li:nth-child(2n+1) .details{
        left: 36px;
        top: -8px;
    }
    ol li{
        background: #fff none repeat scroll 0 0;
        border: 5px solid #cc2329;
        border-radius: 50%;
        display: block;
        float: left;
        font: bold 14px/23px arial;
        height: 34px;
        margin-bottom: 25px;
        margin-right: 248px;
        position: relative;
        text-align: center;
        top: -15px;
        width: 34px;
    }
    #cnhv ul li{
    width: 25%;
        float: left;
    }
    .mnv-tooltip .item {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 4px;
        color: #fff;
        display: none;
        font-size: 16px;
        font-style: italic;
        font-weight: normal;
        padding: 30px 14px 30px 12px;
        text-align: left;
    }
    #cnhv ul li {
        float: left;
        margin: auto;
        opacity: 0.6;
        padding-bottom: 45px;
        position: relative;
        text-align: center;
        width: 177px;
    }
}
@media (min-width: 769px) and (max-width:1024px) {
    #owl-demo3 .owl-item p {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 0;
        padding: 15px 70px 10px;
    }
    .mnv-dkhn {

    }
    .navbar-default .nav > li > a, .navbar-default .nav > li > a:focus{
        font-size: 16px;
    }
    #owl-demo1 .owl-item:nth-child(2n) .mnv-img{
        margin-left: 10px;
    }
    .page-scroll > img {
        width: 70%;
    }
    #mainNav, .mnv-header {
        height: 70px;
        width: 100%;
        z-index: 99999;
    }
    .navbar-nav{
        background: #fff;
        margin-top: 0;
        margin-bottom: 0;
    }
    #mainNav .navbar-nav > li > a{
        padding-bottom: 24px;
        padding-top: 24px;
    }
    header h2 span {
        color: #cc2228;
        font-size: 35px;
    }
    header h2 {
        color: #000;
        font-family: FontSemi;
        font-size: 35px;
        margin-bottom: 57px;
        margin-top: 40px;
    }
    .btn.next > img,.btn.prev > img {
        width: 60%;
    }
    #dnsg h3,#services h3,.mnv-footer h3,#nbcbkh h3{
        font-size: 28px;
    }

    /*#dnsg .owl-carousel .owl-item{*/
        /*text-align: center;*/
    /*}*/
    #dnsg .mnv-info p{
        padding: 0;
    }
    #cnhv h3 {
        color: #fff;
        font-family: FontSemi;
        font-size: 33px;
        font-weight: lighter;
        margin-top: 0;
        padding-bottom: 40px;
        padding-top: 30px;
        text-align: center;
    }
    .mnv-footer{
        padding-top: 40px;
    }
    #owl-demo{
        width: 100%;
    }
    ol li{
        margin-right: 190px;
    }
    #cnhv ul li{
    width: 25%;
    }
    .mnv-tooltip .item {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 4px;
        color: #fff;
        display: none;
        font-size: 16px;
        font-style: italic;
        font-weight: normal;
        padding: 30px 14px 30px 12px;
        text-align: left;
    }
    ol{
        width: 100%;
    }
    #cnhv ul li {
        float: left;
        margin: auto;
        opacity: 0.6;
        padding-bottom: 45px;
        position: relative;
        text-align: center;
        width: 185px;
    }
}
